header
    a.menu-button
    a.logo(href="/")
    ul.button-panel
        li: a.visit-link(href="/visit/how-to-get")
        li: a.instagram-link(href="http://instagram.com/yerevan_mall", target="_blank")
        li: a.twitter-link(href="https://twitter.com/@yerevan_mall", target="_blank")
        li: a.facebook-link(href="https://www.facebook.com/pages/Yerevan-Mall/504775919640523", target="_blank")
        li.language-bar-container: include locales/languageBar
    .menu-layer: nav: include nav/menu
