svg(height='360', viewbox='0 0 360 360', width='360', xmlns='http://www.w3.org/2000/svg')
  g
    path(d='M0 0h360v360h-360z', fill='#F0F2F7')
    path#quella(clip-rule='evenodd', d='M220.338 202.105h6.34v15.854h-6.34z', fill='#C5168C', fill-rule='evenodd')
    path(d='M220.338 202.105h6.34v15.854h-6.34z', fill='none', stroke='#000001', stroke-miterlimit='22.926', stroke-width='.216')
    path(clip-rule='evenodd', d='M200.66 291.257v-3.17h71.713v14.128h-13.103v-10.958h-58.61', fill='#fff', fill-rule='evenodd')
    path(d='M200.66 291.257v-3.17h71.713v14.128h-13.103v-10.958z', fill='none', stroke='#000001', stroke-miterlimit='22.926', stroke-width='.216')
    path(clip-rule='evenodd', d='M150.815 288.087v3.17h-58.423v10.958h-11.938v-14.128h70.361', fill='#fff', fill-rule='evenodd')
    path(d='M150.815 288.087v3.17h-58.423v10.958h-11.938v-14.128z', fill='none', stroke='#000001', stroke-miterlimit='22.926', stroke-width='.216')
    path#patchi(clip-rule='evenodd', d='M162.892 281.513h6.994v6.574h-6.994z', fill='#EF6692', fill-rule='evenodd')
    path(d='M162.892 281.513h6.994v6.574h-6.994z', fill='none', stroke='#000001', stroke-miterlimit='22.926', stroke-width='.216')
    path#kargin-optics(clip-rule='evenodd', d='M173.896 202.712v-5.316h-14.269l-3.543 3.45v2.891h17.812v-1.025', fill='#EF6692', fill-rule='evenodd')
    path(d='M173.896 202.712v-5.316h-14.269l-3.543 3.45v2.891h17.812z', fill='none', stroke='#000001', stroke-miterlimit='22.926', stroke-width='.216')
    path#davidoff(clip-rule='evenodd', d='M186.532 142.936h9.231v16.832h-9.231z', fill='#EF6692', fill-rule='evenodd')
    path(d='M186.532 142.936h9.231v16.832h-9.231z', fill='none', stroke='#000001', stroke-miterlimit='22.926', stroke-width='.216')
    path#party-shop(clip-rule='evenodd', d='M181.775 251.204h4.289v9.14h-4.289z', fill='#EF6692', fill-rule='evenodd')
    path(d='M181.775 251.204h4.289v9.14h-4.289z', fill='none', stroke='#000001', stroke-miterlimit='22.926', stroke-width='.216')
    path#sac-voyage(clip-rule='evenodd', d='M232.46 208.68h18.885v8.253h-18.885z', fill='#EF6692', fill-rule='evenodd')
    path(d='M232.46 208.68h18.885v8.253h-18.885z', fill='none', stroke='#000001', stroke-miterlimit='22.926', stroke-width='.216')
    path#jazzve(clip-rule='evenodd', d='M157.764 183.548h36.415v7.927h-36.415z', fill='#C5168C', fill-rule='evenodd')
    path(d='M157.764 183.548h36.415v7.927h-36.415z', fill='none', stroke='#000001', stroke-miterlimit='22.926', stroke-width='.216')
    path#organicus(clip-rule='evenodd', d='M210.313 281.606h12.916v6.48h-12.916z', fill='#EB008B', fill-rule='evenodd')
    path(d='M210.313 281.606h12.916v6.48h-12.916z', fill='none', stroke='#000001', stroke-miterlimit='22.926', stroke-width='.216')
    path#selena-service(clip-rule='evenodd', d='M261.463 168.721h10.91v15.34h-10.91z', fill='#F05B5B', fill-rule='evenodd')
    path(d='M261.463 168.721h10.91v15.34h-10.91z', fill='none', stroke='#000001', stroke-miterlimit='22.926', stroke-width='.216')
    path#red-caspel(clip-rule='evenodd', d='M156.225 288.087h7.832v14.128h-7.832z', fill='#F05B5B', fill-rule='evenodd')
    path(d='M156.225 288.087h7.832v14.128h-7.832z', fill='none', stroke='#000001', stroke-miterlimit='22.926', stroke-width='.216')
    path#boo-boo(clip-rule='evenodd', d='M188.001 288.04h6.317v14.175h-7.379v-14.175h1.062', fill='#F05B5B', fill-rule='evenodd')
    path(d='M188.001 288.04h6.317v14.175h-7.379v-14.175z', fill='none', stroke='#000001', stroke-miterlimit='22.926', stroke-width='.216')
    path#orange(clip-rule='evenodd', d='M195.717 277.037v4.569h-1.399v6.434h-12.496v-11.003h13.895', fill='#F4835E', fill-rule='evenodd')
    path(d='M195.717 277.037v4.569h-1.399v6.434h-12.496v-11.003z', fill='none', stroke='#000001', stroke-miterlimit='22.926', stroke-width='.216')
    path#press-stand(clip-rule='evenodd', d='M223.229 281.606h6.061v6.48h-6.061z', fill='#E09DC5', fill-rule='evenodd')
    path(d='M223.229 281.606h6.061v6.48h-6.061z', fill='none', stroke='#000001', stroke-miterlimit='22.926', stroke-width='.216')
    path#carrefour(clip-rule='evenodd', d='M148.018 28.093v4.475h3.078v11.191h6.2v-1.445h29.608v4.755h9.465v9.979h9.28v-.467h28.863v16.601h37.861v14.36h-7.273v12.263h7.273v45.742h-39.913v-15.993h-93.581v15.806h-26.205v-19.956h-11.891v1.258h-20.329v-98.569h67.564', fill='#EF6493', fill-rule='evenodd')
    path(d='M148.018 28.093v4.475h3.078v11.191h6.2v-1.445h29.608v4.755h9.465v9.979h9.28v-.467h28.863v16.601h37.861v14.36h-7.273v12.263h7.273v45.742h-39.913v-15.993h-93.581v15.806h-26.205v-19.956h-11.891v1.258h-20.329v-98.569z', fill='none', stroke='#000001', stroke-miterlimit='22.926', stroke-width='.216')
    path#gipffel(clip-rule='evenodd', d='M195.764 142.936h8.254v15.993h-8.254z', fill='#9D76B3', fill-rule='evenodd')
    path(d='M195.764 142.936h8.254v15.993h-8.254z', fill='none', stroke='#000001', stroke-miterlimit='22.926', stroke-width='.216')
    path#wmf(clip-rule='evenodd', d='M204.018 142.936h9.372v15.993h-9.372z', fill='#9D76B3', fill-rule='evenodd')
    path(d='M204.018 142.936h9.372v15.993h-9.372z', fill='none', stroke='#000001', stroke-miterlimit='22.926', stroke-width='.216')
    path#i-store(clip-rule='evenodd', d='M156.084 216.607h17.813v5.941h-17.813z', fill='#BE5680', fill-rule='evenodd')
    path(d='M156.084 216.607h17.813v5.941h-17.813z', fill='none', stroke='#000001', stroke-miterlimit='22.926', stroke-width='.216')
    path#i-electronics(clip-rule='evenodd', d='M80.454 149.045h58.378v48.817h-58.378z', fill='#BE5680', fill-rule='evenodd')
    path(d='M80.454 149.045h58.378v48.817h-58.378z', fill='none', stroke='#000001', stroke-miterlimit='22.926', stroke-width='.216')
    path#i-market(clip-rule='evenodd', d='M256.287 191.475h16.086v4.57h-16.086z', fill='#BE5680', fill-rule='evenodd')
    path(d='M256.287 191.475h16.086v4.57h-16.086z', fill='none', stroke='#000001', stroke-miterlimit='22.926', stroke-width='.216')
    path(clip-rule='evenodd', d='M268.783 196.045h3.59v4.755h-3.59z', fill='#fff', fill-rule='evenodd')
    path(d='M268.783 196.045h3.59v4.755h-3.59z', fill='none', stroke='#000001', stroke-miterlimit='22.926', stroke-width='.216')
    path#levis(clip-rule='evenodd', d='M195.764 177.626h15.527l1.025-1.072 1.073-.979v-16.646h-17.625v18.697', fill='#FBBB76', fill-rule='evenodd')
    path(d='M195.764 177.626h15.527l1.025-1.072 1.073-.979v-16.646h-17.625z', fill='none', stroke='#000001', stroke-miterlimit='22.926', stroke-width='.216')
    path#faina(clip-rule='evenodd', d='M194.318 281.606h15.993v6.48h-15.993z', fill='#FBBB76', fill-rule='evenodd')
    path(d='M194.318 281.606h15.993v6.48h-15.993z', fill='none', stroke='#000001', stroke-miterlimit='22.926', stroke-width='.216')
    path#julia-bergovich(clip-rule='evenodd', d='M232.46 269.063h9.885v9.325h5.268v9.699h-15.153v-19.024', fill='#FBBB76', fill-rule='evenodd')
    path(d='M232.46 269.063h9.885v9.325h5.268v9.699h-15.153z', fill='none', stroke='#000001', stroke-miterlimit='22.926', stroke-width='.216')
    path#kira-plastinina(clip-rule='evenodd', d='M232.46 259.504h15.201v18.884h-5.316v-9.325h-9.885v-9.559', fill='#FBBB76', fill-rule='evenodd')
    path(d='M232.46 259.504h15.201v18.884h-5.316v-9.325h-9.885z', fill='none', stroke='#000001', stroke-miterlimit='22.926', stroke-width='.216')
    path#new-yorker(clip-rule='evenodd', d='M232.46 231.248h39.913v56.839h-24.76v-28.583h-15.153v-28.256', fill='#FBBB76', fill-rule='evenodd')
    path(d='M232.46 231.248h39.913v56.839h-24.76v-28.583h-15.153z', fill='none', stroke='#000001', stroke-miterlimit='22.926', stroke-width='.216')
    path#motivi(clip-rule='evenodd', d='M232.46 216.933h39.913v14.315h-39.913z', fill='#FBBB76', fill-rule='evenodd')
    path(d='M232.46 216.933h39.913v14.315h-39.913z', fill='none', stroke='#000001', stroke-miterlimit='22.926', stroke-width='.216')
    path#giordano(clip-rule='evenodd', d='M125.357 277.037h32.266v11.05h-32.266z', fill='#FBBB76', fill-rule='evenodd')
    path(d='M125.357 277.037h32.266v11.05h-32.266z', fill='none', stroke='#000001', stroke-miterlimit='22.926', stroke-width='.216')
    path#new-look(clip-rule='evenodd', d='M138.832 197.862l2.984 3.031v25.226h-41.033v-12.403h-6.387v-8.532h-13.942v-7.322h58.378', fill='#FBBB76', fill-rule='evenodd')
    path(d='M138.832 197.862l2.984 3.031v25.226h-41.033v-12.403h-6.387v-8.532h-13.942v-7.322z', fill='none', stroke='#000001', stroke-miterlimit='22.926', stroke-width='.216')
    path#moa(clip-rule='evenodd', d='M167.461 142.936v16.832h-11.33l-.047-16.832h11.377', fill='#EF6692', fill-rule='evenodd')
    path(d='M167.461 142.936v16.832h-11.33l-.047-16.832z', fill='none', stroke='#000001', stroke-miterlimit='22.926', stroke-width='.216')
    path#penti(clip-rule='evenodd', d='M167.461 142.936h7.367v16.832h-7.367z', fill='#FBBB76', fill-rule='evenodd')
    path(d='M167.461 142.936h7.367v16.832h-7.367z', fill='none', stroke='#000001', stroke-miterlimit='22.926', stroke-width='.216')
    path#us-polo(clip-rule='evenodd', d='M156.084 260.344v-15.248h29.981v6.108h-8.813v9.14h-21.168', fill='#FBBB76', fill-rule='evenodd')
    path(d='M156.084 260.344v-15.248h29.981v6.108h-8.813v9.14z', fill='none', stroke='#000001', stroke-miterlimit='22.926', stroke-width='.216')
    path#defonseca(clip-rule='evenodd', d='M173.896 203.737v-1.025h4.102v-5.316h7.928v33.805h-12.03v-27.464', fill='#9D76B3', fill-rule='evenodd')
    path(d='M173.896 203.737v-1.025h4.102v-5.316h7.928v33.805h-12.03z', fill='none', stroke='#000001', stroke-miterlimit='22.926', stroke-width='.216')
    path#bizon(clip-rule='evenodd', d='M185.926 197.396h9.138v19.211h-.793v14.594h-8.345v-33.805', fill='#FBBB76', fill-rule='evenodd')
    path(d='M185.926 197.396h9.138v19.211h-.793v14.594h-8.345z', fill='none', stroke='#000001', stroke-miterlimit='22.926', stroke-width='.216')
    path#uno-shoes(clip-rule='evenodd', d='M194.271 231.201v-14.594h.793v-2.705h19.864v17.299h-20.657', fill='#FBBB76', fill-rule='evenodd')
    path(d='M194.271 231.201v-14.594h.793v-2.705h19.864v17.299z', fill='none', stroke='#000001', stroke-miterlimit='22.926', stroke-width='.216')
    path#the-childrens-place-usa(clip-rule='evenodd', d='M181.356 231.201h33.571v13.895h-33.571z', fill='#FBBB76', fill-rule='evenodd')
    path(d='M181.356 231.201h33.571v13.895h-33.571z', fill='none', stroke='#000001', stroke-miterlimit='22.926', stroke-width='.216')
    path#morgan(clip-rule='evenodd', d='M186.065 245.096h14.128v15.248h-14.128z', fill='#FBBB76', fill-rule='evenodd')
    path(d='M186.065 245.096h14.128v15.248h-14.128z', fill='none', stroke='#000001', stroke-miterlimit='22.926', stroke-width='.216')
    path#violet(clip-rule='evenodd', d='M200.193 245.097h14.734v15.247h-14.734z', fill='#9D76B3', fill-rule='evenodd')
    path(d='M200.193 245.097h14.734v15.247h-14.734z', fill='none', stroke='#000001', stroke-miterlimit='22.926', stroke-width='.216')
    path#camicie(clip-rule='evenodd', d='M236.936 201.127l.98-1.026.886-1.165.792-1.166.745-1.26 4.151 2.426v5.547h6.855v4.197h-18.885v-7.553h4.476', fill='#FBBB76', fill-rule='evenodd')
    path(d='M236.936 201.127l.98-1.026.886-1.165.792-1.166.745-1.26 4.151 2.426v5.547h6.855v4.197h-18.885v-7.553z', fill='none', stroke='#000001', stroke-miterlimit='22.926', stroke-width='.216')
    path#rodolfo-zengarini(clip-rule='evenodd', d='M240.339 196.51l.747-1.632.607-1.678.419-1.725h9.233v13.008h-6.855v-5.547l-4.151-2.426', fill='#FBBB76', fill-rule='evenodd')
    path(d='M240.339 196.51l.747-1.632.607-1.678.419-1.725h9.233v13.008h-6.855v-5.547z', fill='none', stroke='#000001', stroke-miterlimit='22.926', stroke-width='.216')
    path(clip-rule='evenodd', d='M252.276 172.311v-7.368l1.027-1.165 7.226-8.067v-10.164h11.844v23.174h-10.91v15.319h-9.187v-11.729', fill='#FBBB76', fill-rule='evenodd')
    path(d='M252.276 164.912l1.011-1.148 7.221-8.061v-10.156h11.865v23.194h-10.891v15.299h-.041v-15.341h10.912v-23.132h-11.803v10.152l-.005.007-7.227 8.065-1.02 1.16v7.381h-.022v-7.42', fill='#000001')
    path#mothercare(clip-rule='evenodd', d='M80.454 229.243h61.455v15.993h-61.455z', fill='#FBBB76', fill-rule='evenodd')
    path(d='M80.454 229.243h61.455v15.993h-61.455z', fill='none', stroke='#000001', stroke-miterlimit='22.926', stroke-width='.216')
    path(clip-rule='evenodd', d='M80.454 245.236h61.455v31.801h-16.552v11.05h-44.903v-42.851', fill='#FBBB76', fill-rule='evenodd')
    path(d='M80.454 245.236h61.455v31.801h-16.552v11.05h-44.903z', fill='none', stroke='#000001', stroke-miterlimit='22.926', stroke-width='.216')
    path#mini-raxevsky(clip-rule='evenodd', d='M174.829 142.936h11.703v16.832h-11.703z', fill='#FBBB76', fill-rule='evenodd')
    path(d='M174.829 142.936h11.703v16.832h-11.703z', fill='none', stroke='#000001', stroke-miterlimit='22.926', stroke-width='.216')
    path#zippy(clip-rule='evenodd', d='M156.131 159.768h39.633v17.858h-17.672v-5.362h-4.009v5.362h-14.549l-3.403-3.45v-14.408', fill='#FBBB76', fill-rule='evenodd')
    path(d='M156.131 159.768h39.633v17.858h-17.672v-5.362h-4.009v5.362h-14.549l-3.403-3.45z', fill='none', stroke='#000001', stroke-miterlimit='22.926', stroke-width='.216')
    path#sergent-major(clip-rule='evenodd', d='M156.084 203.737h17.813v12.87h-17.813z', fill='#FBBB76', fill-rule='evenodd')
    path(d='M156.084 203.737h17.813v12.87h-17.813z', fill='none', stroke='#000001', stroke-miterlimit='22.926', stroke-width='.216')
    path#cool-club(clip-rule='evenodd', d='M156.084 231.201h25.271v13.895h-25.271z', fill='#FBBB76', fill-rule='evenodd')
    path(d='M156.084 231.201h25.271v13.895h-25.271z', fill='none', stroke='#000001', stroke-miterlimit='22.926', stroke-width='.216')
    path#tao(clip-rule='evenodd', d='M210.919 197.396l.884 1.026.98.979 1.027.886 1.118.793v12.822h-19.864v-16.506h15.855', fill='#FBBB76', fill-rule='evenodd')
    path(d='M210.919 197.396l.884 1.026.98.979 1.027.886 1.118.793v12.822h-19.864v-16.506z', fill='none', stroke='#000001', stroke-miterlimit='22.926', stroke-width='.216')
    path#clics-toys(clip-rule='evenodd', d='M177.252 251.204h4.524v9.14h-4.524z', fill='#FBBB76', fill-rule='evenodd')
    path(d='M177.252 251.204h4.524v9.14h-4.524z', fill='none', stroke='#000001', stroke-miterlimit='22.926', stroke-width='.216')
    path#original-marinas(clip-rule='evenodd', d='M233.812 172.311v-12.263h19.491v-14.501h7.226v10.164l-7.226 8.067-1.027 1.165v7.368h-18.464', fill='#FBBB76', fill-rule='evenodd')
    path(d='M233.812 172.311v-12.263h19.491v-14.501h7.226v10.164l-7.226 8.067-1.027 1.165v7.368z', fill='none', stroke='#000001', stroke-miterlimit='22.926', stroke-width='.216')
    path#polin-city(clip-rule='evenodd', d='M233.812 153.428h11.331v-7.881h8.16v14.501h-19.491v-6.62', fill='#FBBB76', fill-rule='evenodd')
    path(d='M233.812 153.428h11.331v-7.881h8.16v14.501h-19.491z', fill='none', stroke='#000001', stroke-miterlimit='22.926', stroke-width='.216')
    path#grand-pharm(clip-rule='evenodd', d='M233.812 145.547h11.331v7.88h-11.331z', fill='#8E1176', fill-rule='evenodd')
    path(d='M233.812 145.547h11.331v7.88h-11.331z', fill='none', stroke='#000001', stroke-miterlimit='22.926', stroke-width='.216')
    path(clip-rule='evenodd', d='M156.131 174.176l3.403 3.45h51.757l1.025-1.072 1.072-.979v-32.64h-57.305l.048 31.241m-.047 86.168h58.844v-59.264l-1.119-.793-1.025-.886-.98-.979-.884-1.025h-51.292l-3.543 3.449v59.498zm1.68-68.869h36.415v-7.927h-36.415v7.927zm62.574 26.484h6.341v-15.854h-6.341v15.854zm.558 17.112h5.176v-5.362h-5.176v5.362zm0 18.325h5.176v-5.362h-5.176v5.362zm-73.952 2.844h4.757v-6.342h-4.757v6.342zm0-42.198h4.757v-6.341h-4.757v6.341zm-1.911-45.368h4.757v-4.71h-4.757v4.71zm-50.637 36.51v20.936h47.42v-25.227l-2.984-3.03v-48.817h-58.378v-3.778h14.549v-8.688h-4.523v-4.85h-10.026v-5.067h13.989v6.155h6.34v12.543h38.096v-15.807h93.581v15.993h1.352v28.722h3.311l1.12 1.167.979 1.211.887 1.352.699 1.445.605 1.494.419 1.538.28 1.585h30.262v7.414h-16.086v4.57h12.496v4.755h-17.438v-9.325h-9.233l-.465 1.771-.607 1.771-.792 1.679-.979 1.586-1.072 1.492-1.26 1.353h-4.476v80.479h-36.743v-4.569h-13.895v11.003h-2.098v14.175h20.936v11.097h-6.342v1.959h-37.161v-1.959h-6.342v-11.097h21.075v-14.128h-2.005v-6.575h-6.994v6.575h-5.269v-11.05h-15.714v-47.794h-50.545v-15.201h-10.911v-8.858h13.942z', fill='#fff', fill-rule='evenodd')
    path(d='M156.131 174.176l3.403 3.45h51.757l1.025-1.072 1.072-.979v-32.64h-57.305l.048 31.241zm-.047 86.168h58.844v-59.264l-1.119-.793-1.025-.886-.98-.979-.884-1.025h-51.292l-3.543 3.449v59.498zm1.68-68.869h36.415v-7.927h-36.415v7.927zm62.574 26.484h6.341v-15.854h-6.341v15.854zm.558 17.112h5.176v-5.362h-5.176v5.362zm0 18.325h5.176v-5.362h-5.176v5.362zm-73.952 2.844h4.757v-6.342h-4.757v6.342zm0-42.198h4.757v-6.341h-4.757v6.341zm-1.911-45.368h4.757v-4.71h-4.757v4.71zm-50.637 36.51v20.936h47.42v-25.227l-2.984-3.03v-48.817h-58.378v-3.778h14.549v-8.688h-4.523v-4.85h-10.026v-5.067h13.989v6.155h6.34v12.543h38.096v-15.807h93.581v15.993h1.352v28.722h3.311l1.12 1.167.979 1.211.887 1.352.699 1.445.605 1.494.419 1.538.28 1.585h30.262v7.414h-16.086v4.57h12.496v4.755h-17.438v-9.325h-9.233l-.465 1.771-.607 1.771-.792 1.679-.979 1.586-1.072 1.492-1.26 1.353h-4.476v80.479h-36.743v-4.569h-13.895v11.003h-2.098v14.175h20.936v11.097h-6.342v1.959h-37.161v-1.959h-6.342v-11.097h21.075v-14.128h-2.005v-6.575h-6.994v6.575h-5.269v-11.05h-15.714v-47.794h-50.545v-15.201h-10.911v-8.858h13.942z', fill='none', stroke='#000001', stroke-miterlimit='22.926', stroke-width='.216')
    path(clip-rule='evenodd', d='M150.815 288.087h5.408v4.056h-5.408z', fill='#85CBEB', fill-rule='evenodd')
    path(d='M150.815 288.087h5.408v4.056h-5.408z', fill='none', stroke='#000001', stroke-miterlimit='22.926', stroke-width='.216')
    path(clip-rule='evenodd', d='M194.318 288.087h6.342v4.056h-6.342z', fill='#85CBEB', fill-rule='evenodd')
    path(d='M194.318 288.087h6.342v4.056h-6.342z', fill='none', stroke='#000001', stroke-miterlimit='22.926', stroke-width='.216')
    path(clip-rule='evenodd', d='M100.783 125.404h11.891v19.956h-11.891z', fill='#85CBEB', fill-rule='evenodd')
    path(d='M100.783 125.404h11.891v19.956h-11.891z', fill='none', stroke='#000001', stroke-miterlimit='22.926', stroke-width='.216')
    path(clip-rule='evenodd', d='M251.345 200.8h21.028v16.133h-21.028z', fill='#85CBEB', fill-rule='evenodd')
    path(d='M251.345 200.8h21.028v16.133h-21.028z', fill='none', stroke='#000001', stroke-miterlimit='22.926', stroke-width='.216')
    path(clip-rule='evenodd', d='M92.392 302.215v-10.958h58.423v.886h5.41v10.072h-63.833', fill='#FFF584', fill-rule='evenodd')
    path(d='M92.392 302.215v-10.958h58.423v.886h5.41v10.072z', fill='none', stroke='#000001', stroke-miterlimit='22.926', stroke-width='.216')
    path(clip-rule='evenodd', d='M194.318 292.143h6.342v-.886h58.61v10.958h-21.635l.607 1.492-11.797 4.662-2.424-6.154h-29.703v-10.072', fill='#FFF584', fill-rule='evenodd')
    path(d='M194.318 292.143h6.342v-.886h58.61v10.958h-21.635l.607 1.492-11.797 4.662-2.424-6.154h-29.703z', fill='none', stroke='#000001', stroke-miterlimit='22.926', stroke-width='.216')
    path(clip-rule='evenodd', d='M94.443 126.662h6.341v6.155h-6.341z', fill='#B0B0B1', fill-rule='evenodd')
    path(d='M94.443 126.662h6.341v6.155h-6.341z', fill='none', stroke='#000001', stroke-miterlimit='22.926', stroke-width='.216')
    path(clip-rule='evenodd', d='M80.454 136.579v-4.85h10.025v4.85h4.524v8.688h-14.549v-8.688', fill='#B0B0B1', fill-rule='evenodd')
    path(d='M80.454 136.579v-4.85h10.025v4.85h4.524v8.688h-14.549z', fill='none', stroke='#000001', stroke-miterlimit='22.926', stroke-width='.216')
    path(clip-rule='evenodd', d='M200.66 302.215h8.672v5.455h-8.672z', fill='#B0B0B1', fill-rule='evenodd')
    path(d='M200.66 302.215h8.672v5.455h-8.672z', fill='none', stroke='#000001', stroke-miterlimit='22.926', stroke-width='.216')
    path(clip-rule='evenodd', d='M256.287 196.045h7.735v4.755h-7.735z', fill='#fff', fill-rule='evenodd')
    path(d='M256.287 196.045h7.735v4.755h-7.735z', fill='none', stroke='#000001', stroke-miterlimit='22.926', stroke-width='.216')
    path#ice-watch(clip-rule='evenodd', d='M220.896 229.709h5.176v5.362h-5.176z', fill='#D01F5C', fill-rule='evenodd')
    path(d='M220.896 229.709h5.176v5.362h-5.176z', fill='none', stroke='#000001', stroke-miterlimit='22.926', stroke-width='.216')
    path#calipso(clip-rule='evenodd', d='M220.896 248.034h5.176v5.362h-5.176z', fill='#D01F5C', fill-rule='evenodd')
    path(d='M220.896 248.034h5.176v5.362h-5.176z', fill='none', stroke='#000001', stroke-miterlimit='22.926', stroke-width='.216')
    path#gurmet-durmet(clip-rule='evenodd', d='M146.944 249.898h4.757v6.342h-4.757z', fill='#D01F5C', fill-rule='evenodd')
    path(d='M146.944 249.898h4.757v6.342h-4.757z', fill='none', stroke='#000001', stroke-miterlimit='22.926', stroke-width='.216')
    path#cmyk-nail-studio(clip-rule='evenodd', d='M146.944 207.701h4.757v6.341h-4.757z', fill='#D01F5C', fill-rule='evenodd')
    path(d='M146.944 207.701h4.757v6.341h-4.757z', fill='none', stroke='#000001', stroke-miterlimit='22.926', stroke-width='.216')
    path#vtb-armenia-bank(clip-rule='evenodd', d='M145.033 163.964h4.757v4.71h-4.757z', fill='#D01F5C', fill-rule='evenodd')
    path(d='M145.033 163.964h4.757v4.71h-4.757z', fill='none', stroke='#000001', stroke-miterlimit='22.926', stroke-width='.216')
    path(clip-rule='evenodd', d='M272.373 117.57h10.604v11.471h-10.604z', fill='#D0D2D3', fill-rule='evenodd')
    path(d='M272.373 117.57h10.604v11.471h-10.604z', fill='none', stroke='#000001', stroke-miterlimit='22.926', stroke-width='.216')
    path(clip-rule='evenodd', d='M80.454 22.031h9.326v6.062h-9.326z', fill='#D0D2D3', fill-rule='evenodd')
    path(d='M80.454 22.031h9.326v6.062h-9.326z', fill='none', stroke='#000001', stroke-miterlimit='22.926', stroke-width='.216')
    path(clip-rule='evenodd', d='M265.1 87.542h7.273v12.264h-7.273z', fill='#D0D2D3', fill-rule='evenodd')
    path(d='M265.1 87.542h7.273v12.264h-7.273z', fill='none', stroke='#000001', stroke-miterlimit='22.926', stroke-width='.216')
    path(clip-rule='evenodd', d='M196.369 51.033h9.28v6.015h-9.28z', fill='#D0D2D3', fill-rule='evenodd')
    path(d='M196.369 51.033h9.28v6.015h-9.28z', fill='none', stroke='#000001', stroke-miterlimit='22.926', stroke-width='.216')
    path(clip-rule='evenodd', d='M151.096 32.568h6.201v11.191h-6.201z', fill='#D0D2D3', fill-rule='evenodd')
    path(d='M151.096 32.568h6.201v11.191h-6.201z', fill='none', stroke='#000001', stroke-miterlimit='22.926', stroke-width='.216')
    path(clip-rule='evenodd', d='M229.289 281.606h3.17v6.48h-3.17z', fill='#B0B0B1', fill-rule='evenodd')
    path(d='M229.289 281.606h3.17v6.48h-3.17z', fill='none', stroke='#000001', stroke-miterlimit='22.926', stroke-width='.216')
    path(clip-rule='evenodd', d='M80.454 214.042h10.911v15.2h-10.911z', fill='#B0B0B1', fill-rule='evenodd')
    path(d='M80.454 214.042h10.911v15.2h-10.911z', fill='none', stroke='#000001', stroke-miterlimit='22.926', stroke-width='.216')
    path(clip-rule='evenodd', d='M94.396 213.716h6.387v12.403h-6.387z', fill='#B0B0B1', fill-rule='evenodd')
    path(d='M94.396 213.716h6.387v12.403h-6.387z', fill='none', stroke='#000001', stroke-miterlimit='22.926', stroke-width='.216')
    path(clip-rule='evenodd', d='M174.083 172.264h4.009v5.362h-4.009z', fill='#B0B0B1', fill-rule='evenodd')
    path(d='M174.083 172.264h4.009v5.362h-4.009z', fill='none', stroke='#000001', stroke-miterlimit='22.926', stroke-width='.216')
    path(clip-rule='evenodd', d='M173.896 197.396h4.104v5.315h-4.104z', fill='#B0B0B1', fill-rule='evenodd')
    path(d='M173.896 197.396h4.104v5.315h-4.104z', fill='none', stroke='#000001', stroke-miterlimit='22.926', stroke-width='.216')
    path(clip-rule='evenodd', d='M78.729 148.53l-1.492 4.523v-8.998l1.492 4.475M78.729 138.692l-1.492 4.523v-8.998l1.492 4.475M88.382 303.8l4.522 1.539h-8.999l4.477-1.539M263.281 306.131l4.522 1.492h-8.999l4.477-1.492M78.729 206.628l-1.492 4.476v-8.999l1.492 4.523', fill='#EE372E', fill-rule='evenodd')
    path(clip-rule='evenodd', d='M67.026 168.021h13.43v26.903h-13.43z', fill='#fff', fill-rule='evenodd')
    path(d='M80.563 195.033h-13.645v-27.12h13.646v27.12zm-13.429-.217h13.214v-26.686h-13.214v26.686z', fill='#000001')
    path(d='M67.026 167.913h13.428v.217h-13.428zM67.026 194.816h13.428v.217h-13.428z', fill='#231F20')
    path(d='M264.022 196.045h4.756v4.755h-4.756z', fill='#8E1176')
    path(d='M266.266 197.432l-.744.742M266.266 197.867v-.435h-.436M265.522 197.739v.435h.436M264.953 199.745h.637v-.561h.561v-.562h.562v-.561h.561v-.563h.563', fill='none', stroke='#fff', stroke-miterlimit='22.926', stroke-width='.216')
    path(d='M279.509 190.633h8.243v8.244h-8.243z', fill='#8E1176')
    path(d='M282.939 192.998v1.507h.586c.423 0 .707-.026.848-.084.143-.055.254-.142.336-.261.08-.119.121-.256.121-.412 0-.194-.057-.353-.172-.479-.111-.125-.256-.204-.43-.235-.129-.024-.385-.035-.771-.035h-.518m-1.073 4.413v-5.313h1.722c.65 0 1.076.027 1.274.08.304.079.56.253.766.52.205.268.308.612.308 1.034 0 .327-.06.602-.179.823-.118.223-.268.396-.45.524-.182.126-.367.21-.556.251-.256.051-.628.077-1.113.077h-.698v2.004h-1.074z', fill='#fff')
    path(d='M200.572 184.737h5.509v5.51h-5.509z', fill='#8E1176')
    path(d='M203.062 186.916c-.111 0-.273.029-.273.309v.921l.521-.521v-.399c0-.279-.163-.309-.274-.309h.026M203.309 186.579c0 .142-.116.258-.259.258s-.259-.116-.259-.258c0-.143.116-.258.259-.258s.259.116.259.258', fill='#fff')
    path(d='M204.592 188.349l-.713.714M204.609 188.761v-.429h-.427M203.879 188.635v.428h.428', fill='none', stroke='#fff', stroke-miterlimit='22.926', stroke-width='.216')
    path(d='M204.679 186.932c.138 0 .249.111.249.25 0 .137-.111.248-.249.248h-.462l-.06.061-1.457 1.456h-.663c-.139 0-.251-.112-.251-.249s.112-.249.251-.249h.461l.06-.06 1.457-1.457h.664m0-.204h-.748l-1.518 1.517h-.376c-.252 0-.454.203-.454.453s.202.453.454.453h.747l1.517-1.516h.378c.249 0 .454-.203.454-.453 0-.251-.205-.454-.454-.454z', fill='#fff')
    path(d='M259.092 206.103h5.531v5.529h-5.531z', fill='#8E1176')
    path(d='M263.134 207.524c0 .155-.126.28-.28.28-.156 0-.28-.125-.28-.28s.124-.28.28-.28c.154 0 .28.125.28.28', fill='#fff')
    path(d='M261.722 207.224h.245v3.31h-.245zM263.206 207.876h-.707c-.126 0-.31.034-.31.35v.876h.225v-.787h.089v2.219h.305v-1.313h.09v1.313h.305v-2.219h.091v.787h.224v-.876c-.001-.316-.185-.35-.312-.35M261.112 207.524c0 .155-.125.28-.28.28-.154 0-.28-.125-.28-.28s.126-.28.28-.28c.155 0 .28.125.28.28M260.787 209.584h.005v-.365l-.316.226v1.088h.311v-.949M260.873 209.445v.139h.004v.949h.312v-1.314l-.316.226M261.097 208.302l.086-.023.203.739.179-.05-.246-.887c-.028-.091-.096-.202-.441-.202h-.09c-.346 0-.412.111-.44.202l-.247.887.18.05.202-.739.087.023-.374 1.356h1.275l-.374-1.356', fill='#fff')
    path(d='M104.156 132.528h5.529v5.53h-5.529z', fill='#8E1176')
    path(d='M108.196 133.951c0 .154-.125.28-.28.28-.156 0-.281-.126-.281-.28 0-.155.125-.28.281-.28.155 0 .28.125.28.28', fill='#fff')
    path(d='M106.786 133.65h.244v3.31h-.244zM108.269 134.303h-.707c-.126 0-.31.033-.31.351v.875h.224v-.788h.09v2.22h.306v-1.314h.09v1.314h.304v-2.22h.091v.788h.225v-.875c-.002-.318-.186-.351-.313-.351M106.175 133.951c0 .154-.126.28-.279.28-.155 0-.28-.126-.28-.28 0-.155.125-.28.28-.28.153 0 .279.125.279.28M105.85 136.01h.004v-.364l-.316.225v1.089h.312v-.95M105.936 135.871v.139h.003v.95h.312v-1.314l-.315.225M106.158 134.729l.087-.023.204.738.178-.05-.246-.886c-.028-.092-.095-.203-.441-.203h-.09c-.345 0-.412.111-.44.203l-.246.886.178.05.203-.738.087.023-.372 1.355h1.272l-.374-1.355', fill='#fff')
    path(d='M171.615 329.946h8.244v8.243h-8.244z', fill='#8E1176')
    path(d='M175.046 332.311v1.508h.586c.424 0 .706-.027.849-.084.143-.056.253-.143.335-.26.081-.119.121-.257.121-.414 0-.192-.057-.353-.169-.479-.113-.125-.258-.204-.432-.235-.128-.024-.386-.036-.772-.036h-.518m-1.072 4.414v-5.313h1.72c.652 0 1.078.027 1.276.08.303.08.56.252.766.52.205.268.309.612.309 1.034 0 .327-.061.601-.18.823-.118.223-.269.396-.451.523s-.367.211-.556.251c-.256.051-.627.077-1.113.077h-.698v2.004h-1.073z', fill='#fff')
    path(d='M200.562 265.561h5.509v5.509h-5.509z', fill='#8E1176')
    path(d='M203.05 267.741c-.11 0-.271.031-.271.308v.916l.517-.518v-.398c0-.276-.16-.308-.271-.308h.025M203.295 267.407c0 .142-.114.256-.257.256-.142 0-.257-.114-.257-.256 0-.143.115-.258.257-.258.143 0 .257.116.257.258', fill='#fff')
    path(d='M204.59 269.152l-.727.726M204.59 269.577v-.425h-.425M203.863 269.452v.426l.426-.001', fill='none', stroke='#fff', stroke-miterlimit='22.926', stroke-width='.216')
    path(d='M204.659 267.757c.136 0 .249.111.249.249 0 .137-.113.247-.249.247h-.459l-.059.06-1.451 1.45h-.661c-.137 0-.248-.111-.248-.248s.111-.248.248-.248h.459l.06-.059 1.451-1.451h.66m0-.202h-.743l-1.512 1.51h-.375c-.249 0-.451.2-.451.45 0 .249.202.451.451.451h.745l1.51-1.51h.375c.249 0 .452-.201.452-.45 0-.25-.203-.451-.452-.451z', fill='#fff')
    path(clip-rule='evenodd', d='M177.705 327.699h-3.935l-.001-3.245c0-.2-.121-.354-.353-.354h-2.006c-.142 0-.256-.157-.108-.305l4.436-4.383 4.435 4.383c.146.147.033.305-.108.305h-2.006c-.231 0-.354.153-.354.354v3.245', fill='#EE372E', fill-rule='evenodd')
    path(d='M227.874 184.7h5.538v5.538h-5.538z', fill='#8E1176')
    path(d='M231.998 186.89v1.245M232.364 187.256l-.366-.365-.364.365M231.634 187.771l.364.364.366-.364', fill='none', stroke='#fff', stroke-miterlimit='22.926', stroke-width='.216')
    path(d='M229.082 185.898h2.214v3.115h-2.214z', fill='none', stroke='#fff', stroke-miterlimit='22.926', stroke-width='.216')
    path(d='M230.404 186.411c0 .12-.096.217-.215.217-.12 0-.216-.097-.216-.217 0-.119.096-.214.216-.214s.215.095.215.214M230.462 186.683h-.545c-.099 0-.239.026-.239.27v.673h.173v-.605h.069v1.709h.234v-1.014h.069v1.014h.235v-1.709h.069v.605h.172v-.673c.001-.244-.14-.27-.237-.27', fill='#fff')
    path(d='M157.157 309.767h5.504v5.504h-5.504z', fill='#8E1176')
    path(d='M161.256 311.943v1.238M161.619 312.306l-.363-.363-.361.363M160.895 312.817l.361.364.363-.364', fill='none', stroke='#fff', stroke-miterlimit='22.926', stroke-width='.216')
    path(d='M158.357 310.957h2.2v3.098h-2.2z', fill='none', stroke='#fff', stroke-miterlimit='22.926', stroke-width='.216')
    path(d='M159.672 311.467c0 .118-.096.215-.214.215-.119 0-.216-.097-.216-.215 0-.119.097-.215.216-.215.118 0 .214.096.214.215M159.729 311.735h-.541c-.097 0-.237.027-.237.269v.67h.171v-.603h.068v1.697h.234v-1.006h.067v1.006h.233v-1.697h.069v.603h.172v-.67c.001-.241-.14-.269-.236-.269', fill='#fff')
    path(d='M188.814 309.767h5.504v5.504h-5.504z', fill='#8E1176')
    path(d='M192.914 311.943v1.238M193.276 312.306l-.362-.363-.362.363M192.552 312.817l.362.364.362-.364', fill='none', stroke='#fff', stroke-miterlimit='22.926', stroke-width='.216')
    path(d='M190.015 310.957h2.2v3.098h-2.2z', fill='none', stroke='#fff', stroke-miterlimit='22.926', stroke-width='.216')
    path(d='M191.329 311.467c0 .118-.095.215-.214.215-.118 0-.215-.097-.215-.215 0-.119.097-.215.215-.215.119 0 .214.096.214.215M191.386 311.735h-.54c-.098 0-.238.027-.238.269v.67h.172v-.603h.069v1.697h.232v-1.006h.069v1.006h.232v-1.697h.068v.603h.172v-.67c.001-.241-.14-.269-.236-.269', fill='#fff')
    path(d='M186.068 184.749h5.498v5.499h-5.498z', fill='#8E1176')
    path(d='M189.76 187.031v1.364c0 .114-.094.208-.21.208h-1.466c-.116 0-.211-.094-.211-.208v-1.364h1.887M190.466 188.785c0 .199-.164.364-.365.364h-2.568c-.2 0-.364-.165-.364-.364h3.297', fill='#fff')
    path(d='M189.749 187.236c.163 0 .296.133.296.296 0 .164-.133.298-.296.298-.164 0-.298-.134-.298-.298 0-.163.134-.296.298-.296m0-.205c-.277 0-.501.225-.501.501s.224.501.501.501c.275 0 .501-.225.501-.501s-.226-.501-.501-.501zM188.716 185.849c.047.146.016.321-.093.484-.082.122-.087.378.116.535-.097-.237-.029-.35.035-.448.106-.163.134-.384-.058-.571M188.97 186.124c.013.127.005.227-.1.382-.065.098-.097.308.065.435-.056-.163.025-.282.072-.362.085-.14.106-.296-.037-.455M189.76 187.031v1.364c0 .114-.094.208-.21.208h-1.466c-.116 0-.211-.094-.211-.208v-1.364h1.887M190.466 188.785c0 .199-.164.364-.365.364h-2.568c-.2 0-.364-.165-.364-.364h3.297', fill='#fff')
    path(d='M189.749 187.236c.163 0 .296.133.296.296 0 .164-.133.298-.296.298-.164 0-.298-.134-.298-.298 0-.163.134-.296.298-.296m0-.205c-.277 0-.501.225-.501.501s.224.501.501.501c.275 0 .501-.225.501-.501s-.226-.501-.501-.501zM188.716 185.849c.047.146.016.321-.093.484-.082.122-.087.378.116.535-.097-.237-.029-.35.035-.448.106-.163.134-.384-.058-.571M188.97 186.124c.013.127.005.227-.1.382-.065.098-.097.308.065.435-.056-.163.025-.282.072-.362.085-.14.106-.296-.037-.455', fill='#fff')
    path(d='M226.266 217.959h-5.514', fill='none', stroke='#231F20', stroke-miterlimit='22.926', stroke-width='.216')
    path(d='M220.752 217.959h5.513v5.513h-5.513z', fill='#8E1176')
    path(d='M224.454 220.246v1.367c0 .115-.095.209-.21.209h-1.472c-.115 0-.21-.094-.21-.209v-1.367h1.892M225.162 222.005c0 .2-.165.364-.366.364h-2.575c-.201 0-.366-.164-.366-.364h3.307', fill='#fff')
    path(d='M224.442 220.451c.165 0 .298.133.298.297s-.133.298-.298.298c-.164 0-.298-.134-.298-.298s.134-.297.298-.297m0-.205c-.277 0-.503.226-.503.502 0 .277.226.503.503.503.276 0 .501-.226.501-.503 0-.276-.224-.502-.501-.502zM223.407 219.061c.048.146.016.323-.094.484-.081.124-.088.38.116.538-.096-.238-.029-.351.036-.45.105-.162.135-.385-.058-.572M223.661 219.338c.013.125.005.227-.1.382-.065.098-.098.31.065.435-.055-.162.025-.281.073-.362.084-.142.107-.297-.038-.455', fill='#fff')
    path(clip-rule='evenodd', d='M280.111 139.545h-3.934v-3.245c0-.199-.122-.354-.354-.354h-2.006c-.142 0-.255-.156-.108-.304l4.435-4.383 4.435 4.383c.147.147.033.304-.108.304h-2.005c-.232 0-.354.154-.354.354v3.245M282.695 186.268v3.936h-3.245c-.2 0-.354.122-.354.354v2.005c0 .143-.157.256-.305.108l-4.383-4.434 4.383-4.435c.147-.147.305-.035.305.106v2.007c0 .231.153.353.354.353h3.245', fill='#EE372E', fill-rule='evenodd')
    path(d='M76.044 189.635c-.292.016-.645.035-.906.031v.01c.246.072.507.158.797.266l1.018.369v.205l-1 .34c-.295.1-.566.184-.815.242v.008c.261.006.613.021.928.039l.899.057v.258l-2.098-.146v-.344l1.015-.359c.259-.086.489-.158.707-.211v-.01c-.212-.053-.442-.127-.707-.221l-1.015-.373v-.346l2.098-.131v.264l-.921.052z', fill='#231F20')
    g(fill='#231F20')
      path(d='M75.895 187.002c.722 0 1.105.438 1.105.973 0 .555-.43.943-1.064.943-.666 0-1.102-.414-1.102-.973-.001-.574.438-.943 1.061-.943zm.034 1.627c.448 0 .85-.242.85-.668 0-.43-.395-.674-.871-.674-.417 0-.853.219-.853.67 0 .447.414.672.874.672zM76.966 186.637h-2.098v-.297l1.062-.672c.246-.156.467-.277.682-.377l-.003-.006c-.28.025-.536.031-.862.031h-.878v-.256h2.098v.273l-1.064.668c-.233.145-.473.285-.701.391l.003.01c.265-.016.517-.021.865-.021h.896v.256zM74.868 184.303h1.242c.47 0 .669-.209.669-.488 0-.313-.205-.512-.669-.512h-1.242v-.273h1.224c.644 0 .909.34.909.795 0 .428-.246.752-.896.752h-1.236v-.274zM76.045 180.777c-.292.016-.645.035-.906.031v.01c.246.072.507.158.797.266l1.018.369v.205l-1 .34c-.295.1-.566.184-.815.242v.008c.261.006.613.021.928.039l.899.057v.258l-2.098-.146v-.344l1.015-.359c.259-.086.489-.158.707-.211v-.01c-.212-.053-.442-.127-.707-.221l-1.015-.373v-.346l2.098-.131v.264l-.921.052z')
    g(fill='#231F20')
      path(d='M75.983 178.129v.816h.756v-.908h.227v1.18h-2.098v-1.133h.228v.861h.663v-.816h.224zM76.967 177.668h-2.098v-.297l1.062-.672c.246-.156.467-.277.682-.377l-.003-.006c-.28.025-.536.031-.862.031h-.878v-.256h2.098v.273l-1.064.668c-.233.145-.473.285-.701.391l.003.01c.265-.016.517-.021.865-.021h.896v.256zM75.099 175.203v.639h-.23v-1.553h.23v.641h1.868v.273h-1.868z')
    g(fill='#231F20')
      path(d='M78.765 191.555c-.19 0-.325-.113-.403-.299l-.007.002c-.079.166-.209.238-.339.238-.239 0-.401-.201-.401-.467 0-.291.184-.438.371-.438.128 0 .265.063.353.248h.007c.074-.188.207-.303.39-.303.262 0 .438.225.438.512-.001.315-.188.507-.409.507zm-.763-.25c.15 0 .231-.115.278-.289-.044-.129-.137-.229-.274-.229-.121 0-.246.072-.246.254.001.17.113.264.242.264zm.754-.563c-.183 0-.271.129-.329.332.051.176.167.271.311.271.153.008.288-.109.288-.301-.001-.183-.114-.302-.27-.302zM77.703 190.02h.322v-.293h.155v.293h.605c.139 0 .218-.039.218-.154l-.014-.117.153-.01.028.182c0 .094-.03.172-.086.219-.061.059-.16.08-.292.08h-.612v.174h-.155v-.174h-.269l-.053-.2zM77.501 189.482v-.205h.7v-.004c-.058-.033-.109-.084-.144-.146-.035-.061-.058-.133-.058-.209 0-.15.093-.393.48-.393h.668v.205h-.645c-.181 0-.334.066-.334.26 0 .133.093.236.204.273l.097.014h.677v.205h-1.645zM79.106 186.898c.028.055.065.172.065.322 0 .34-.23.561-.573.561-.346 0-.596-.236-.596-.604 0-.121.03-.227.058-.283l.158.047c-.028.049-.054.125-.054.236 0 .258.19.396.424.396.26 0 .42-.168.42-.391 0-.115-.03-.191-.055-.25l.153-.034z')
    g(fill='#231F20')
      path(d='M78.624 185.893c.276-.004.39-.182.39-.385 0-.146-.025-.234-.058-.311l.146-.035c.033.072.07.195.07.373 0 .346-.228.553-.566.553-.338 0-.605-.199-.605-.527 0-.367.322-.463.529-.463l.095.006v.789zm-.146-.598c-.13-.004-.332.053-.332.281 0 .207.19.297.332.314v-.595zM78.33 184.828l-.304.01v-.182l.186-.012v-.004c-.108-.056-.212-.185-.212-.37 0-.156.093-.396.478-.396h.67v.203h-.647c-.181 0-.332.068-.332.26 0 .135.095.24.208.273l.095.016h.675v.203h-.817zM77.704 183.279h.322v-.293h.155v.293h.605c.139 0 .218-.039.218-.154l-.014-.117.153-.01.028.182c0 .094-.03.172-.086.219-.061.059-.16.08-.292.08h-.612v.174h-.155v-.174h-.269l-.053-.2zM78.842 181.803l.306-.01v.182l-.183.01v.006c.09.053.208.172.208.371 0 .176-.097.387-.492.387h-.656v-.203h.622c.213 0 .357-.066.357-.252 0-.137-.095-.23-.186-.268l-.104-.02h-.689v-.203h.817zM78.376 181.447l-.35.01v-.18l.22-.006v-.01c-.15-.051-.246-.174-.246-.311l.007-.059h.193l-.007.07c0 .145.109.246.262.273l.095.01h.599v.201h-.773z')
    g(fill='#231F20')
      path(d='M78.026 180.053l.664-.246.229-.072v-.004l-.234-.072-.659-.223v-.217l.8.307c.385.146.582.246.703.385.088.1.123.199.132.25l-.172.053-.1-.18c-.044-.055-.123-.125-.228-.172l-.048-.016-.053.014-1.035.416v-.223zM77.606 178.533c-.019-.09-.032-.229-.032-.369 0-.203.035-.332.114-.43.06-.082.153-.129.276-.129.151 0 .283.1.343.264h.004c.037-.148.16-.322.392-.322.135 0 .236.053.313.133.1.107.146.285.146.539l-.019.314h-1.537zm.64-.203v-.184c0-.213-.111-.338-.262-.338-.184 0-.255.139-.255.344l.014.178h.503zm.749 0l.01-.168c0-.209-.077-.402-.304-.402-.213 0-.301.184-.301.404v.166h.595z')
    path(d='M79.098 175.396c.037.074.074.223.074.414 0 .439-.278.771-.791.771-.489 0-.821-.332-.821-.816 0-.195.042-.318.07-.371l.165.049c-.037.076-.065.186-.065.314 0 .367.234.611.645.611.382 0 .628-.221.628-.602 0-.123-.026-.248-.065-.328l.16-.042z', fill='#231F20')
    path(d='M251.344 211.399h5.532v5.532h-5.532z', fill='#8E1176')
    path(clip-rule='evenodd', d='M252.822 214.705c.118 0 .213-.094.213-.211s-.095-.213-.213-.213c-.116 0-.211.096-.211.213s.095.211.211.211m.955.013c.081 0 .146-.065.146-.146v-.331h.192c.051 0 .093-.041.093-.092 0-.052-.042-.092-.093-.092h-.34c-.048 0-.089.039-.089.088v.189h-.365v-.303c0-.05-.041-.092-.092-.092l-.092.092v.603c0 .046.038.084.085.084h.555zm1.389-.176h.442l-.275-.961-.657-.666c-.153-.153-.475-.03-.475.192v.582h-.465c-.062 0-.109.051-.109.11 0 .062.048.111.109.111h.606c.046 0 .084-.038.084-.085v-.321l.267.267-.208.771h.411v1.147c0 .075.06.136.136.136.073 0 .134-.061.134-.136v-1.147zm-1.109-1.613c.117 0 .211-.095.211-.212s-.094-.212-.211-.212c-.118 0-.212.095-.212.212s.093.212.212.212zm-1.404 2.069h1.489l.033-.033v-.055l-.033-.033h-1.489l-.033.033v.055l.033.033z', fill='#fff', fill-rule='evenodd')
    path(d='M266.846 211.405h5.486v5.486h-5.486z', fill='#8E1176')
    path(d='M269.064 213.294l-.015 1.154h.896l.508.82.499-.283M270.048 215.11c-.096.394-.45.687-.873.687-.495 0-.897-.402-.897-.897 0-.305.152-.574.385-.736M269.261 213.857h.76', fill='none', stroke='#fff', stroke-miterlimit='22.926', stroke-width='.216')
    path(d='M269.329 212.78c0 .153-.123.276-.275.276s-.275-.123-.275-.276c0-.152.123-.275.275-.275s.275.123.275.275M269.068 213.141c-.117 0-.288.032-.288.325v1.109h.547v-1.109c0-.293-.17-.325-.286-.325h.027', fill='#fff')
    path(d='M100.823 125.445h5.486v5.485h-5.486z', fill='#8E1176')
    path(clip-rule='evenodd', d='M102.29 128.724c.117 0 .211-.094.211-.21 0-.117-.094-.211-.211-.211-.116 0-.21.094-.21.211 0 .116.094.21.21.21m.947.012c.08 0 .146-.066.146-.146v-.327h.19c.051 0 .091-.042.091-.092l-.091-.091h-.337c-.05 0-.089.039-.089.089v.185h-.361v-.298c0-.051-.042-.093-.092-.093l-.091.093v.596c0 .047.038.085.083.085h.551zm1.377-.174h.438l-.272-.953-.653-.661c-.151-.15-.469-.028-.469.191v.578h-.461c-.061 0-.109.049-.109.109s.049.109.109.109h.6c.048 0 .084-.037.084-.084v-.318l.264.263-.205.766h.406v1.138c0 .074.06.134.135.134.073 0 .134-.06.134-.134v-1.138zm-1.1-1.6c.116 0 .211-.094.211-.21s-.095-.211-.211-.211c-.117 0-.211.095-.211.211s.093.21.211.21zm-1.391 2.053h1.475l.034-.034v-.054l-.034-.034h-1.475l-.033.034v.054l.033.034z', fill='#fff', fill-rule='evenodd')
    path(d='M107.1 125.446h5.532v5.532h-5.532z', fill='#8E1176')
    path(d='M109.338 127.35l-.016 1.164h.905l.511.827.503-.285M110.329 129.182c-.097.396-.454.692-.882.692-.499 0-.903-.405-.903-.905 0-.307.152-.579.388-.743M109.535 127.918h.769', fill='none', stroke='#fff', stroke-miterlimit='22.926', stroke-width='.216')
    path(d='M109.604 126.832c0 .153-.124.278-.278.278-.152 0-.277-.125-.277-.278 0-.154.125-.277.277-.277.154 0 .278.123.278.277M109.342 127.195c-.118 0-.29.032-.29.326v1.12h.551v-1.12c0-.294-.172-.326-.29-.326h.029', fill='#fff')
    g(fill='#231F20')
      path(d='M72.344 190.658h-.524l-.126.033-.138.098-.138.096-.136.031-.144-.043-.061-.117-.013-.213v-.242h.226l-.002.105v.102l.006.084.028.025.083-.029.112-.102.139-.107.145-.037h.961v.299h-.177l.097.074.096.115.04.182-.045.193-.131.125-.207.043h-.875v-.314h.815l.13-.047.032-.125-.049-.15c-.033-.053-.081-.079-.144-.079zM72.762 189.98h-.319v-.318h.319v.318zM72.339 188.182l.153.045c.068.025.137.074.207.146.07.074.106.172.109.293 0 .137-.061.246-.181.326h.618v.314h-1.686v-.285h.208l-.158-.121c-.063-.061-.095-.141-.095-.238 0-.145.046-.254.139-.328.093-.072.186-.119.28-.141l.21-.031v-.129h.195v.149zm-.229.828h.034v-.555l-.04.008-.163.041-.12.107-.044.123.048.137.126.102.159.037zm.22-.008l.105-.031.122-.094.054-.15c0-.066-.029-.125-.088-.174l-.193-.084v.533zM72.762 187.818h-.319v-.318h.319v.318zM72.818 186.115c-.001.092-.018.164-.051.215l-.099.1-.073.029.142.109s.081.137.081.24c0 .111-.032.199-.095.266-.063.064-.146.098-.247.098h-.917v-.316h.82l.13-.045.032-.123-.022-.09-.067-.082-.104-.033h-.788v-.318h.82l.13-.045.032-.121-.022-.094-.066-.084-.104-.035h-.79v-.316h1.203v.301h-.177l.063.043.084.064.06.094.025.143z')
    g(fill='#231F20')
      path(d='M72.643 184.963c-.086 0-.146-.059-.146-.139 0-.082.06-.137.146-.137.083 0 .146.053.146.139 0 .082-.062.137-.146.137zM72.764 183.59l-1.563.512v-.219l.771-.244c.211-.066.401-.125.584-.166v-.006c-.181-.043-.378-.107-.582-.178l-.772-.264v-.217l1.563.559v.223z')
    g(fill='#231F20')
      path(d='M71.199 181.773h1.563v.201h-1.563v-.201zM71.199 181.203h1.563v.203h-1.563v-.203zM71.199 180.635h1.563v.201h-1.563v-.201zM71.735 179.717h-.761v.004l.079.168-.121.025-.102-.219v-.141h.905v.163z')
    g(fill='#231F20')
      path(d='M70.894 178.035c-.035-.055-.074-.154-.074-.268 0-.199.106-.283.22-.283.093 0 .169.068.208.18h.005c.016-.129.106-.217.223-.217.144 0 .271.131.271.367 0 .111-.028.213-.063.264l-.116-.041c.023-.037.06-.129.06-.217 0-.141-.083-.203-.155-.201-.118 0-.165.123-.165.246v.063h-.107v-.064c0-.086-.04-.209-.146-.211-.058 0-.116.041-.116.145 0 .084.037.16.063.197l-.108.04zM71.448 177.02c-.151.004-.241-.059-.241-.158l.051-.145.04-.098c0-.037-.021-.059-.1-.064v-.109c.155-.002.234.053.234.16l-.047.143-.042.1.104.061v.11zm.496.189l-.304.01v-.182l.186-.012v-.004c-.107-.057-.211-.186-.211-.371 0-.156.093-.396.478-.396h.67v.203h-.647c-.181 0-.332.068-.332.26 0 .135.095.24.208.273l.095.016h.675v.203h-.818z')
    g(fill='#231F20')
      path(d='M69.945 189.563v.314h.6v.41h-1.668l-.167.02-.118.082-.067.125-.012.158.015.176.106.146c.058.041.139.061.242.061h.693v.412h-.708c-.114 0-.223-.027-.327-.078-.104-.053-.193-.145-.267-.275l-.075-.203-.028-.24c0-.23.052-.414.155-.549.104-.137.257-.217.46-.244h.818v-.314h.348zM70.353 187.607l.338.197-.245.348.05.107.041.117.021.125v.248l-.015.104-.068.189c-.043.092-.097.166-.162.221-.054.055-.141.1-.261.137l-.093.023h-1.822v-.412h1.715l.15-.012.025-.004.028-.008.044-.031.103-.141.019-.08v-.111l-.019-.166-.104-.145c-.057-.047-.14-.07-.25-.07h-1.71v-.41h1.803l.068.012.065.023.068.033.211-.294zM68.491 185.529v.297h1.363c.089 0 .173.018.254.051.072.025.145.072.217.141.062.066.114.154.157.264s.063.225.063.348l-.028.24-.009.047-.025.057-.044.094-.105.166c-.035.051-.096.098-.183.137l-.096.031-.105.02h-1.798v-.41h1.68l.143-.014c.069-.012.125-.057.171-.133.037-.063.056-.143.056-.24l-.019-.193-.102-.127s-.139-.064-.248-.064h-1.68v-.709h.338z')
    g(fill='#231F20')
      path(d='M69.941 183.676v1.219h.606v.412h-1.684c-.12 0-.23-.027-.33-.078-.1-.053-.186-.143-.258-.273-.073-.129-.109-.277-.109-.449 0-.17.031-.314.095-.43.063-.117.151-.209.263-.275l.165-.068.084-.02h.541v.41h-.439c-.104 0-.182.02-.233.059l-.108.146-.019.094v.09c0 .109.023.205.071.289l.112.078.084.016h.8019999999999999v-1.219h.357zM70.354 181.521l.338.197-.245.348.05.107.041.117.021.125v.248l-.015.104-.068.189c-.043.092-.097.166-.162.221-.054.055-.141.1-.261.137l-.093.023h-1.822v-.412h1.715l.15-.012.025-.004.028-.008.044-.031.103-.141.019-.08v-.111l-.019-.166-.104-.145c-.057-.047-.14-.07-.25-.07h-1.71v-.41h1.803l.068.012.065.023.068.033.211-.294zM69.577 179.723v.412h-.817l-.072.018-.103.08-.028.063-.025.076-.019.145c0 .117.024.213.071.291l.109.076.081.02h1.771v.41h-1.684c-.128 0-.239-.027-.333-.08l-.14-.104-.056-.064-.065-.1c-.068-.131-.103-.281-.103-.449 0-.17.031-.313.095-.432.063-.117.149-.207.259-.27.11-.061.224-.092.342-.092h.717zM70.354 177.531l.338.197-.245.348.05.107.041.117.021.125v.248l-.015.104-.068.189c-.043.092-.097.166-.162.221-.054.055-.141.1-.261.137l-.093.023h-1.822v-.412h1.715l.15-.012.025-.004.028-.008.044-.031.103-.141.019-.08v-.111l-.019-.166-.104-.145c-.057-.047-.14-.07-.25-.07h-1.71v-.41h1.803l.068.012.065.023.068.033.211-.294z')
    path(d='M69.857 175.68l.127.01.059.012.065.021c.081.031.156.08.224.15.052.051.105.137.162.254l.025.078.016.08.012.09v.194l-.022.146-.011.057-.014.037-.044.096-.112.162-.155.115c-.12.059-.231.088-.333.088h-1.358v.297h-.345v-.709h1.689l.146-.008.025-.008.028-.008.044-.031.103-.137.019-.094v-.102l-.019-.168-.103-.148c-.056-.043-.139-.064-.25-.064h-.692v-.41h.714z', fill='#231F20')
    path(d='M221.079 168.774h5.495v5.494h-5.495z', fill='#8E1176')
    path(d='M223.858 170.528c-.107 0-.264.028-.264.298v.891l.502-.504v-.387c0-.27-.157-.298-.264-.298h.026M224.097 170.202c0 .139-.112.25-.25.25-.137 0-.249-.111-.249-.25 0-.138.112-.249.249-.249s.25.111.25.249', fill='#fff')
    path(d='M225.355 171.898l-.706.706M225.355 172.312v-.414h-.414M224.649 172.189v.415h.414', fill='none', stroke='#fff', stroke-miterlimit='22.926', stroke-width='.216')
    path(d='M225.423 170.543c.132 0 .24.108.24.241s-.108.241-.24.241h-.446l-.058.058-1.409 1.408h-.644c-.133 0-.24-.107-.24-.239 0-.133.107-.242.24-.242h.447l.058-.059 1.409-1.408h.643m0-.197h-.724l-1.467 1.467h-.366c-.242 0-.438.197-.438.439 0 .241.196.437.438.437h.725l1.467-1.466h.365c.242 0 .438-.196.438-.438s-.196-.439-.438-.439z', fill='#fff')
    path#vollmond(clip-rule='evenodd', d='M207.748 252.693h7.125v7.622h-7.125z', fill='#EF6692', fill-rule='evenodd')
    path(d='M207.748 252.693h7.125v7.622h-7.125z', fill='none', stroke='#231F20', stroke-miterlimit='22.926', stroke-width='.216')
    path(clip-rule='evenodd', d='M221.233 291.257v10.958h2.788l2.424 6.154 11.797-4.662-.607-1.492h1.33v-10.958h-17.732', fill='#B0B0B1', fill-rule='evenodd')
    path(d='M221.233 291.257v10.958h2.788l2.424 6.154 11.797-4.662-.607-1.492h1.33v-10.958z', fill='none', stroke='#000001', stroke-miterlimit='22.926', stroke-width='.216')
    path(d='M267.307 91.8h5.066v5.066h-5.066z', fill='#8E1176')
    path(d='M269.694 93.276l-.782.785M269.697 93.741v-.464h-.465M268.912 93.596v.465h.463M268.299 95.743h.678v-.598h.597v-.599h.599v-.599h.598v-.597h.599', fill='none', stroke='#fff', stroke-miterlimit='22.926', stroke-width='.216')
    path(d='M272.39 117.57h5.065v5.066h-5.065z', fill='#8E1176')
    path(d='M274.777 119.047l-.783.783M274.779 119.512v-.464h-.465M273.994 119.365v.465h.464M273.38 121.514h.679v-.598h.597v-.599h.599v-.598h.599v-.599h.597', fill='none', stroke='#fff', stroke-miterlimit='22.926', stroke-width='.216')
    path(d='M277.908 117.57h5.069v5.068h-5.069z', fill='#8E1176')
    path(d='M281.685 119.575v1.139M282.018 119.908l-.333-.333-.334.333M281.351 120.381l.334.333.333-.333', fill='none', stroke='#fff', stroke-miterlimit='22.926', stroke-width='.216')
    path(d='M279.014 118.667h2.027v2.853h-2.027z', fill='none', stroke='#fff', stroke-miterlimit='22.926', stroke-width='.216')
    path(d='M280.225 119.137c0 .108-.088.197-.197.197-.108 0-.197-.089-.197-.197 0-.109.089-.197.197-.197.109-.001.197.087.197.197M280.276 119.384h-.497c-.09 0-.22.024-.22.247v.617h.158v-.555h.063v1.563h.216v-.926h.063v.926h.216v-1.563h.063v.555h.158v-.617c-.001-.223-.131-.247-.22-.247', fill='#fff')
    text(fill='#231F20', font-family='"ArialMT"', font-size='3.86', transform='translate(132.016 298.1)') OFFICE
    text(fill='#231F20', font-family='"ArialMT"', font-size='3.86', transform='translate(201.484 298.207)') OFFICE
    path(d='M246.813 291.257v10.958M238.965 302.215v-10.958M221.233 291.257v10.958M212.95 291.257v10.958M200.66 291.257v10.958', fill='none', stroke='#000001', stroke-miterlimit='22.926', stroke-width='.216')
    text(fill='#231F20', font-family='"ArialMT"', font-size='3.86', transform='translate(241.56 298.208)') OFFICE
    path(d='M100.187 291.257v10.958M107.162 291.257v10.958M117.335 291.257v10.958M131.488 291.257v10.958M138.99 291.257v10.958M146.402 291.257v10.958M117.335 296.736h14.153M124.412 302.215v-10.958', fill='none', stroke='#000001', stroke-miterlimit='22.926', stroke-width='.216')
    path#richi-art(clip-rule='evenodd', d='M156.084 222.549h17.813v8.652h-17.813z', fill='#EF6692', fill-rule='evenodd')
    path(d='M156.084 222.549h17.813v8.652h-17.813z', fill='none', stroke='#000001', stroke-miterlimit='22.926', stroke-width='.216')
    path#atelier(clip-rule='evenodd', d='M164.058 288.087h7.833v14.128h-7.833z', fill='#F05B5B', fill-rule='evenodd')
    path(d='M164.058 288.087h7.833v14.128h-7.833z', fill='none', stroke='#000001', stroke-miterlimit='22.926', stroke-width='.216')
    path#3d-print(clip-rule='evenodd', d='M180.762 288.04h6.177v14.175h-7.214v-14.175h1.037', fill='#F05B5B', fill-rule='evenodd')
    path(d='M180.762 288.04h6.177v14.175h-7.214v-14.175z', fill='none', stroke='#000001', stroke-miterlimit='22.926', stroke-width='.216')
    path(d='M267.039 290.731h5.334v5.333h-5.334z', fill='#8E1176')
    path(d='M269.557 292.287l-.827.825M269.556 292.775v-.488h-.491M268.721 292.632v.488h.489M268.083 294.883h.714v-.631h.631v-.629h.629v-.629h.63v-.631h.63', fill='none', stroke='#fff', stroke-miterlimit='22.926', stroke-width='.216')
    path(d='M80.454 290.731h5.333v5.333h-5.333z', fill='#8E1176')
    path(d='M82.972 292.287l-.826.825M82.971 292.775v-.488h-.489M82.138 292.632v.488h.488M81.498 294.883h.715v-.631h.63v-.629h.629v-.629h.63v-.631h.63', fill='none', stroke='#fff', stroke-miterlimit='22.926', stroke-width='.216')
    path(d='M80.454 23.025h5.066v5.067h-5.066z', fill='#8E1176')
    path(d='M82.843 24.502l-.783.784M82.845 24.967v-.464h-.464M82.06 24.822v.464h.463M81.445 26.969h.679v-.598h.599v-.6h.597v-.597h.599v-.598h.599', fill='none', stroke='#fff', stroke-miterlimit='22.926', stroke-width='.216')
    path(d='M150.815 307.979h5.334v5.334h-5.334z', fill='#8E1176')
    path(d='M153.332 309.533l-.825.825M153.33 310.022v-.489h-.488M152.498 309.879v.488h.488M151.858 312.129h.715v-.629h.629v-.631h.631v-.629h.63v-.631h.63', fill='none', stroke='#fff', stroke-miterlimit='22.926', stroke-width='.216')
    path(d='M195.326 307.979h5.334v5.334h-5.334z', fill='#8E1176')
    path(d='M197.843 309.533l-.825.825M197.842 310.022v-.489h-.488M197.009 309.879v.488h.488M196.369 312.129h.715v-.629h.63v-.631h.63v-.629h.631v-.631h.629', fill='none', stroke='#fff', stroke-miterlimit='22.926', stroke-width='.216')
    path(d='M80.454 126.662h5.066v5.067h-5.066z', fill='#8E1176')
    path(d='M82.843 128.139l-.783.784M82.845 128.604v-.464h-.464M82.06 128.459v.464h.463M81.445 130.605h.679v-.597h.599v-.6h.597v-.597h.599v-.598h.599', fill='none', stroke='#fff', stroke-miterlimit='22.926', stroke-width='.216')
    path(d='M80.454 208.709h5.333v5.334h-5.333z', fill='#8E1176')
    path(d='M82.972 210.264l-.826.826M82.971 210.752v-.488h-.489M82.138 210.608v.49h.488M81.498 212.86h.715v-.631h.63v-.629h.629v-.63h.63v-.631h.63', fill='none', stroke='#fff', stroke-miterlimit='22.926', stroke-width='.216')
    path(clip-rule='evenodd', d='M233.812 174.283v-1.951h18.464v11.708h-10.164l-.281-1.58-.419-1.533-.605-1.487-.7-1.44-.886-1.348-.979-1.208-1.12-1.161h-3.31', fill='#FBBB76', fill-rule='evenodd')
    path(d='M233.812 174.283v-1.951h18.464v11.708h-10.164l-.281-1.58-.419-1.533-.605-1.487-.7-1.44-.886-1.348-.979-1.208-1.12-1.161z', fill='none', stroke='#231F20', stroke-miterlimit='22.926', stroke-width='.216')
    path(d='M233.812 172.29h18.444v-7.354l.005-.006.015-.018v7.42h-18.442v1.916h3.297l.007.008 1.118 1.164.003.001.978 1.214h.001v.001l.886 1.351.001.001.001.002.699 1.446h.001l.606 1.492v.001l.001.003.42 1.539v.002l.276 1.567h10.147v.021h-10.185l-.279-1.582-.419-1.536-.606-1.49-.698-1.443-.885-1.351-.978-1.211-1.113-1.157h-3.301v-2.001', fill='#000001')
    path(d='M233.812 172.29h18.444v-7.354l.005-.006.015-.018v7.42h-18.442v1.916h3.297l.007.008 1.118 1.164.003.001.978 1.214h.001v.001l.886 1.351.001.001.001.002.699 1.446h.001l.606 1.492v.001l.001.003.42 1.539v.002l.276 1.567h10.147v.021h-10.185l-.279-1.582-.419-1.536-.606-1.49-.698-1.443-.885-1.351-.978-1.211-1.113-1.157h-3.301z', fill='none', stroke='#231F20', stroke-miterlimit='22.926', stroke-width='.216')
    path(clip-rule='evenodd', d='M80.454 245.236h61.455v13.892h-61.455z', fill='#FBBB76', fill-rule='evenodd')
    path(d='M80.454 245.236h61.455v13.892h-61.455z', fill='none', stroke='#000001', stroke-miterlimit='22.926', stroke-width='.216')
