doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title Emergency Console #{ title ? '- ' + title : ''}
        != css("emergency.css")
    body(style="padding-top:70px")
        #page-content.container
            block content
