extends layout

block content

    .container(style="margin-top:70px")
        .row
            .col-md-4.col-md-offset-4.well
                legend Sign In
                    if errors
                        each error in errors
                            .alert.alert-warning.alert-dismissable
                                button.close(type="button", data-dismiss="alert", aria-hidden="true") &times;
                                | #{error}
                    form(action="/auth?uri=#{uri}", method="POST")
                        .form-group
                            label(for="loginEmail") Email address
                            input#loginEmail.form-control(type="text", name="email", placeholder="Email", tabindex="1")
                        .form-group
                            label(for="loginPassword") Password
                            input#loginPassword.form-control(type="password", name="password", placeholder="Password", tabindex="2")
                        input.btn.btn-primary.btn-block(type="submit", value="Sign In", tabindex="3")
