//= require bootstrap
//= require anytime.css
//= require chosen.css

.AnyTime-win *
  box-sizing content-box!important

.chosen-container
  display block
  width 250px !important

.mce-fullscreen
  z-index 2000 !important

.alert
  display none

.content-images img
  margin 0px 10px 10px 0px
