nav.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
    .container
        .collapse.navbar-collapse
            ul.nav.navbar-nav
                li: a(href="/", target="_blank") Website
                li: a(href="/account/ads") Мои объявления
                li: a(href="/account/brands") Brands
                li: a(href="/account/products") Products
                li: a(href="/account/news") News
                li: a(href="/account/events") Events
                li: a(href="/account/sections") Sections


            .btn-group.pull-right
                a.btn.btn-default.navbar-btn(href="/admin/profile") Profile
                a.btn.btn-default.navbar-btn(href="/auth/signout") Sign Out
