svg(enable-background='new 0 0 360 360', height='360px', version='1.1', viewbox='0 0 360 360', width='360px', x='0px', xml:space='preserve', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', y='0px')
  g
    rect(fill='#F0F2F7', height='360', width='360')
    path(clip-rule='evenodd', d='M189.527,183.285v7.967h17.53   c1.623,3.787,5.406,6.442,9.813,6.442c4.856,0,8.954-3.225,10.24-7.636l0.075-0.27c0.227-0.858,0.345-1.757,0.345-2.684   c0-5.848-4.772-10.588-10.66-10.588c-4.532,0-8.402,2.81-9.946,6.768H189.527', fill='#FFFFFF', fill-rule='evenodd')
    path(d='M189.527,183.285v7.967h17.53   c1.623,3.787,5.406,6.442,9.813,6.442c4.856,0,8.954-3.225,10.24-7.636l0.075-0.27c0.227-0.858,0.345-1.757,0.345-2.684   c0-5.848-4.772-10.588-10.66-10.588c-4.532,0-8.402,2.81-9.946,6.768H189.527z', fill='none', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216')
    rect(clip-rule='evenodd', fill='#FFFFFF', fill-rule='evenodd', height='22.189', width='8.139', x='213.385', y='149.395')
    rect(fill='none', height='22.189', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216', width='8.139', x='213.385', y='149.395')
    rect(clip-rule='evenodd', fill='#FFFFFF', fill-rule='evenodd', height='24.044', width='6.068', x='214.094', y='203.594')
    rect(fill='none', height='24.044', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216', width='6.068', x='214.094', y='203.594')
    rect(clip-rule='evenodd', fill='#FFFFFF', fill-rule='evenodd', height='22.081', width='7.411', x='137.561', y='149.431')
    rect(fill='none', height='22.081', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216', width='7.411', x='137.561', y='149.431')
    rect(clip-rule='evenodd', fill='#FFFFFF', fill-rule='evenodd', height='7.93', width='36.443', x='189.396', y='268.743')
    rect(fill='none', height='7.93', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216', width='36.443', x='189.396', y='268.743')
    rect#mac-parfume(clip-rule='evenodd', fill='#EB008B', fill-rule='evenodd', height='21.495', width='15.715', x='160.079', y='244.373')
    rect(fill='none', height='21.495', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216', width='15.715', x='160.079', y='244.373')
    path#F-and-F(clip-rule='evenodd', d='M225.871,200.917v52.595h38.374v-36.695h-19.07   c0-8.331,0-16.661,0-24.992h-12.45C231.605,195.601,229.182,198.818,225.871,200.917', fill='#FBBB76', fill-rule='evenodd')
    path(d='M225.871,200.917v52.595h38.374v-36.695   h-19.07c0-8.331,0-16.661,0-24.992h-12.45C231.605,195.601,229.182,198.818,225.871,200.917z', fill='none', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216')
    path#ovs(clip-rule='evenodd', d='M232.725,182.686h31.521v-39.494h-38.141v30.728   c1.611,1.006,3.003,2.292,4.124,3.783c0.171,0.226,0.334,0.456,0.492,0.695C231.595,179.705,232.271,181.149,232.725,182.686', fill='#FBBB76', fill-rule='evenodd')
    path(d='M232.725,182.686h31.521v-39.494h-38.141   v30.728c1.611,1.006,3.003,2.292,4.124,3.783c0.171,0.226,0.334,0.456,0.492,0.695   C231.595,179.705,232.271,181.149,232.725,182.686z', fill='none', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216')
    path#stradivarius(clip-rule='evenodd', d='M208.386,230.339v-29.563c-1.632-1.024-3.031-2.331-4.149-3.917   h-29.377v19.91h2.613v13.569H208.386', fill='#FBBB76', fill-rule='evenodd')
    path(d='M208.386,230.339v-29.563   c-1.632-1.024-3.031-2.331-4.149-3.917h-29.377v19.91h2.613v13.569H208.386z', fill='none', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216')
    rect#mega-sport(clip-rule='evenodd', fill='#835894', fill-rule='evenodd', height='20.096', width='39.446', x='149.589', y='97.638')
    rect(fill='none', height='20.096', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216', width='39.446', x='149.589', y='97.638')
    polyline#zara(clip-rule='evenodd', fill='#FBBB76', fill-rule='evenodd', points='84.264,198.025 75.265,198.025 75.265,172.148    132.337,172.148 132.337,198.025 84.264,198.025  ')
    polygon(fill='none', points='84.264,198.025 75.265,198.025    75.265,172.148 132.337,172.148 132.337,198.025  ', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216')
    rect#celio(clip-rule='evenodd', fill='#FBBB76', fill-rule='evenodd', height='12.309', width='42.991', x='89.346', y='131.209')
    rect(fill='none', height='12.309', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216', width='42.991', x='89.346', y='131.209')
    polyline(clip-rule='evenodd', fill='#FFF584', fill-rule='evenodd', points='240.298,291.188 240.298,291.188 240.298,291.188    240.298,302.378 234.078,302.378 234.078,291.188 240.298,291.188  ')
    polygon(fill='none', points='240.298,291.188 240.298,291.188    240.298,291.188 240.298,302.378 234.078,302.378 234.078,291.188  ', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216')
    polyline#okaidi(clip-rule='evenodd', fill='#FBBB76', fill-rule='evenodd', points='90.559,125.986 90.559,120.158 132.337,120.158    132.337,131.209 89.346,131.209 89.346,125.986 90.559,125.986  ')
    polygon(fill='none', points='90.559,125.986 90.559,120.158    132.337,120.158 132.337,131.209 89.346,131.209 89.346,125.986  ', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216')
    polyline(clip-rule='evenodd', fill='#C69FCA', fill-rule='evenodd', points='255.945,87.426 255.945,102.58 264.247,102.58    264.245,134.986 255.945,134.986 255.945,125.895 226.104,125.895 226.104,117.733 208.852,117.733 208.852,87.426 255.945,87.426     ')
    polygon(fill='none', points='255.945,87.426 255.945,102.58    264.247,102.58 264.245,134.986 255.945,134.986 255.945,125.895 226.104,125.895 226.104,117.733 208.852,117.733 208.852,87.426     ', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216')
    polyline#zara(clip-rule='evenodd', fill='#FBBB76', fill-rule='evenodd', points='75.265,213.459 87.948,213.459 87.948,201.523    132.337,201.523 132.337,287.971 75.265,287.971 75.265,213.459  ')
    polygon(fill='none', points='75.265,213.459 87.948,213.459    87.948,201.523 132.337,201.523 132.337,287.971 75.265,287.971  ', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216')
    polyline#bershka(clip-rule='evenodd', fill='#FBBB76', fill-rule='evenodd', points='208.805,143.005 208.805,159.559 206.66,160.305    204.609,161.189 202.603,162.263 200.691,163.475 198.873,164.827 197.195,166.273 195.61,167.904 194.118,169.63 192.813,171.448    191.646,173.36 190.621,175.412 189.735,177.463 172.155,177.463 172.155,172.288 168.658,172.288 168.658,177.463    153.925,177.463 150.195,173.453 150.195,143.005 208.805,143.005  ')
    polygon(fill='none', points='208.805,143.005 208.805,159.559    206.66,160.305 204.609,161.189 202.603,162.263 200.691,163.475 198.873,164.827 197.195,166.273 195.61,167.904 194.118,169.63    192.813,171.448 191.646,173.36 190.621,175.412 189.735,177.463 172.155,177.463 172.155,172.288 168.658,172.288    168.658,177.463 153.925,177.463 150.195,173.453 150.195,143.005  ', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216')
    rect#pull-and-bear(clip-rule='evenodd', fill='#FBBB76', fill-rule='evenodd', height='28.631', width='57.072', x='75.265', y='143.518')
    rect(fill='none', height='28.631', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216', width='57.072', x='75.265', y='143.518')
    polyline#new-yorker(clip-rule='evenodd', fill='#FBBB76', fill-rule='evenodd', points='225.871,253.512 264.245,253.512 264.245,287.364    232.725,287.364 232.725,259.435 225.871,259.435 225.871,253.512  ')
    polygon(fill='none', points='225.871,253.512 264.245,253.512    264.245,287.364 232.725,287.364 232.725,259.435 225.871,259.435  ', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216')
    polyline#monsoon(clip-rule='evenodd', fill='#FBBB76', fill-rule='evenodd', points='208.386,245.867 191.551,257.687 177.473,244.373    177.473,243.58 208.386,243.58 208.386,245.867  ')
    polyline#accesorize(clip-rule='evenodd', fill='#FBBB76', fill-rule='evenodd', points='191.564,257.629 179.83,265.868 175.728,265.868    175.728,244.373 177.405,244.373  ')
    polygon(fill='none', points='208.386,245.867 179.897,265.868    175.794,265.868 175.794,244.373 177.473,244.373 177.473,243.58 208.386,243.58  ', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216')
    rect#jennyfer(clip-rule='evenodd', fill='#FBBB76', fill-rule='evenodd', height='14.034', width='30.636', x='146.837', y='230.339')
    rect(fill='none', height='14.034', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216', width='30.636', x='146.837', y='230.339')
    rect#sandre(clip-rule='evenodd', fill='#FBBB76', fill-rule='evenodd', height='13.242', width='30.914', x='177.473', y='230.339')
    rect(fill='none', height='13.242', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216', width='30.914', x='177.473', y='230.339')
    rect#basic-shoes(clip-rule='evenodd', fill='#FBBB76', fill-rule='evenodd', height='12.753', width='42.057', x='90.559', y='104.234')
    rect(fill='none', height='12.753', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216', width='42.057', x='90.559', y='104.234')
    rect#bossini(clip-rule='evenodd', fill='#FBBB76', fill-rule='evenodd', height='12.751', width='42.057', x='90.559', y='91.483')
    rect(fill='none', height='12.751', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216', width='42.057', x='90.559', y='91.483')
    path#1808(clip-rule='evenodd', d='M189.735,177.463c3.217-8.579,10.257-15.246,19.069-17.904v13.895   c-1.725,1.073-3.217,2.425-4.429,4.01H189.735', fill='#C5168C', fill-rule='evenodd')
    path(d='M189.735,177.463   c3.217-8.579,10.257-15.246,19.069-17.904v13.895c-1.725,1.073-3.217,2.425-4.429,4.01H189.735z', fill='none', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216')
    polyline#flormar(clip-rule='evenodd', fill='#EB008B', fill-rule='evenodd', points='143.854,287.364 140.496,287.364 140.496,279.856    157.935,279.856 163.483,285.405 163.483,287.364 143.854,287.364  ')
    polygon(fill='none', points='143.854,287.364 140.496,287.364    140.496,279.856 157.935,279.856 163.483,285.405 163.483,287.364  ', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216')
    polyline#rouge(clip-rule='evenodd', fill='#EB008B', fill-rule='evenodd', points='161.572,216.77 177.473,216.77 177.473,230.339    146.837,230.339 146.837,201.569 161.572,201.569 161.572,216.77  ')
    polygon(fill='none', points='161.572,216.77 177.473,216.77    177.473,230.339 146.837,230.339 146.837,201.569 161.572,201.569  ', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216')
    rect#ameria-bank(clip-rule='evenodd', fill='#F05B5B', fill-rule='evenodd', height='13.755', width='12.402', x='175.794', y='287.364')
    rect(fill='none', height='13.755', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216', width='12.402', x='175.794', y='287.364')
    polyline#acba-credit-agricole-bank(clip-rule='evenodd', fill='#F05B5B', fill-rule='evenodd', points='151.314,291.701 151.314,287.364 143.854,287.364    140.496,287.364 140.496,291.094 125.148,291.094 125.148,302.378 115.83,302.378 114.99,304.428 141.801,314.967 141.801,314.082    143.854,314.035 143.854,302.378 151.314,302.378 151.314,291.701  ')
    polygon(fill='none', points='151.314,291.701 151.314,287.364    143.854,287.364 140.496,287.364 140.496,291.094 125.148,291.094 125.148,302.378 115.83,302.378 114.99,304.428 141.801,314.967    141.801,314.082 143.854,314.035 143.854,302.378 151.314,302.378  ', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216')
    rect#flowers-decor(clip-rule='evenodd', fill='#EF6692', fill-rule='evenodd', height='5.549', width='20.423', x='206.894', y='281.815')
    rect(fill='none', height='5.549', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216', width='20.423', x='206.894', y='281.815')
    polyline#carpisa(clip-rule='evenodd', fill='#EF6692', fill-rule='evenodd', points='166.328,126.732 166.328,143.005 150.195,143.005    150.195,130.043 153.459,126.732 166.328,126.732  ')
    polygon(fill='none', points='166.328,126.732 166.328,143.005    150.195,143.005 150.195,130.043 153.459,126.732  ', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216')
    polyline#eiffel(clip-rule='evenodd', fill='#EF6692', fill-rule='evenodd', points='166.328,136.665 166.328,126.732 181.809,126.732    181.809,136.665 173.183,136.665 173.183,143.005 166.328,143.005 166.328,136.665  ')
    polygon(fill='none', points='166.328,136.665 166.328,126.732    181.809,126.732 181.809,136.665 173.183,136.665 173.183,143.005 166.328,143.005  ', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216')
    rect#time(clip-rule='evenodd', fill='#EF6692', fill-rule='evenodd', height='14.475', width='13.242', x='146.837', y='244.373')
    rect(fill='none', height='14.475', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216', width='13.242', x='146.837', y='244.373')
    polyline#gnomon(clip-rule='evenodd', fill='#EF6692', fill-rule='evenodd', points='161.572,196.859 161.572,201.569 146.837,201.569    151.453,196.859 161.572,196.859  ')
    polygon(fill='none', points='161.572,196.859 161.572,201.569    146.837,201.569 151.453,196.859  ', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216')
    polyline#parfois(clip-rule='evenodd', fill='#EF6692', fill-rule='evenodd', points='161.572,196.859 171.271,196.859 171.271,202.035    174.859,202.035 174.859,216.77 161.572,216.77 161.572,196.859  ')
    polygon(fill='none', points='161.572,196.859 171.271,196.859    171.271,202.035 174.859,202.035 174.859,216.77 161.572,216.77  ', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216')
    rect#pandora(clip-rule='evenodd', fill='#EF6692', fill-rule='evenodd', height='7.237', width='13.242', x='146.837', y='258.631')
    rect(fill='none', height='7.237', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216', width='13.242', x='146.837', y='258.631')
    polyline#coincasa(clip-rule='evenodd', fill='#9D76B3', fill-rule='evenodd', points='226.104,143.191 226.104,125.895 255.945,125.895    255.945,134.986 264.245,134.986 264.245,143.191 226.104,143.191  ')
    polygon(fill='none', points='226.104,143.191 226.104,125.895    255.945,125.895 255.945,134.986 264.245,134.986 264.245,143.191  ', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216')
    rect(clip-rule='evenodd', fill='#BBBDBF', fill-rule='evenodd', height='9.093', width='9.277', x='85.011', y='79.079')
    rect(fill='none', height='9.093', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216', width='9.277', x='85.011', y='79.079')
    polyline(clip-rule='evenodd', fill='#C69FCA', fill-rule='evenodd', points='150.707,82.716 150.707,42.244 180.223,42.244    180.223,47 189.735,47 189.735,50.963 198.968,50.963 198.968,56.465 227.876,56.465 227.876,72.972 264.245,72.972    264.245,87.426 255.945,87.426 255.945,102.58 264.245,102.578 264.245,134.986 255.945,134.986 255.945,125.895 226.104,125.895    226.104,117.733 208.852,117.733 208.852,97.638 169.345,97.681 169.345,82.759 150.707,82.716  ')
    polygon(fill='none', points='150.707,82.716 150.707,42.244    180.223,42.244 180.223,47 189.735,47 189.735,50.963 198.968,50.963 198.968,56.465 227.876,56.465 227.876,72.972    264.245,72.972 264.245,87.426 255.945,87.426 255.945,102.58 264.245,102.578 264.245,134.986 255.945,134.986 255.945,125.895    226.104,125.895 226.104,117.733 208.852,117.733 208.852,97.638 169.345,97.681 169.345,82.759  ', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216')
    polyline#beeline(clip-rule='evenodd', fill='#F4835E', fill-rule='evenodd', points='198.873,287.364 175.794,287.364 175.794,285.452    181.341,279.856 183.347,279.856 183.347,281.582 198.873,281.582 198.873,287.364  ')
    polygon(fill='none', points='198.873,287.364 175.794,287.364    175.794,285.452 181.341,279.856 183.347,279.856 183.347,281.582 198.873,281.582  ', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216')
    polyline(clip-rule='evenodd', fill='#C5168C', fill-rule='evenodd', points='188.196,314.035 195.47,314.035 195.47,301.163    188.196,301.163 188.22,287.413 198.873,287.364 198.873,291.188 214.214,291.188 214.214,302.378 218.038,302.378    220.275,308.067 204.935,314.035 195.47,317.765 186.75,321.169 184,314.035 188.196,314.035  ')
    polygon(fill='none', points='188.196,314.035 195.47,314.035    195.47,301.163 188.196,301.163 188.22,287.413 198.873,287.364 198.873,291.188 214.214,291.188 214.214,302.378 218.038,302.378    220.275,308.067 204.935,314.035 195.47,317.765 186.75,321.169 184,314.035  ', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216')
    path(clip-rule='evenodd', d='M146.837,201.569v64.299h33.061l28.488-20.001v-45.091   c-1.819-1.218-2.817-2.131-4.149-3.917h-52.783L146.837,201.569 M90.559,116.987h42.058V91.483H90.559V116.987z M80.113,70.313   v17.858h52.643v-6.954H113.5v-6.241H94.288v-31.52h34.038V30.913H78.902v38.048L80.113,70.313z M208.805,173.453   c-1.858,1.24-2.983,2.203-4.429,4.01h-50.451l-3.729-4.01v-43.41l3.264-3.311h51.942l3.403,3.404V173.453z M139.051,126.732h4.71   v-6.294h-4.71V126.732z M215.007,138.109h4.756v-4.756h-4.756V138.109z M137.561,149.431h7.412v22.081h-7.412V149.431z    M151.791,183.285h16.568v7.967h-16.568V183.285z M189.527,183.285h17.396c1.544-3.958,5.414-6.768,9.946-6.768   c5.888,0,10.66,4.74,10.66,10.588s-4.772,10.589-10.66,10.589c-4.406,0-8.189-2.655-9.813-6.442h-17.53V183.285z M213.385,171.584   h8.14v-22.189h-8.14V171.584z M220.162,227.639h-6.068v-24.045h6.068V227.639z M220.198,256.085h-6.141v-23.426h6.141V256.085z    M189.396,276.672h36.443v-7.929h-36.443V276.672z M74.192,86.681V27.929h56.793v6.202h14.411v1.911H130.75v13.849h19.958v-7.646   v40.472h-1.119v35.018h76.516v56.186c3.584,2.561,5.179,4.571,6.62,8.767h31.521v9.139h-14.733v4.012h14.733l0.004,5.061   l-19.074-0.063v-9.01h-12.45c-1.59,4.372-3.089,6.367-6.854,9.093v58.518h6.854v27.93h-5.408v-5.549h-20.423v5.549h36.289v12.131   h15.514v2.883h-18.398v-11.19h-41.425v-9.605h-15.526v-1.726h-2.006l-5.547,5.596v15.667h12.402v0.021h7.273v12.896h-51.616   v-11.657h7.461v-1.259h12.169v-15.714l-5.549-5.549h-17.438v11.237h-38.745v11.284H80.673v-3.544h16.794v-10.863h34.869v-86.447   H87.948v11.936H75.265v-5.223h9.185v-10.211h47.887v-77.867H90.559v5.828h-1.213v17.531H75.265v-17.531h5.128v-7.273h6.994V91.483   H75.265v-4.803H74.192z', fill='#FFFFFF', fill-rule='evenodd')
    path(d='M146.837,201.569v64.299h33.061   l28.488-20.001v-45.091c-1.819-1.218-2.817-2.131-4.149-3.917h-52.783L146.837,201.569z M90.559,116.987h42.058V91.483H90.559   V116.987z M80.113,70.313v17.858h52.643v-6.954H113.5v-6.241H94.288v-31.52h34.038V30.913H78.902v38.048L80.113,70.313z    M208.805,173.453c-1.858,1.24-2.983,2.203-4.429,4.01h-50.451l-3.729-4.01v-43.41l3.264-3.311h51.942l3.403,3.404V173.453z    M139.051,126.732h4.71v-6.294h-4.71V126.732z M215.007,138.109h4.756v-4.756h-4.756V138.109z M137.561,149.431h7.412v22.081   h-7.412V149.431z M151.791,183.285h16.568v7.967h-16.568V183.285z M189.527,183.285h17.396c1.544-3.958,5.414-6.768,9.946-6.768   c5.888,0,10.66,4.74,10.66,10.588s-4.772,10.589-10.66,10.589c-4.406,0-8.189-2.655-9.813-6.442h-17.53V183.285z M213.385,171.584   h8.14v-22.189h-8.14V171.584z M220.162,227.639h-6.068v-24.045h6.068V227.639z M220.198,256.085h-6.141v-23.426h6.141V256.085z    M189.396,276.672h36.443v-7.929h-36.443V276.672z M74.192,86.681V27.929h56.793v6.202h14.411v1.911H130.75v13.849h19.958v-7.646   v40.472h-1.119v35.018h76.516v56.186c3.584,2.561,5.179,4.571,6.62,8.767h31.521v9.139h-14.733v4.012h14.733l0.004,5.061   l-19.074-0.063v-9.01h-12.45c-1.59,4.372-3.089,6.367-6.854,9.093v58.518h6.854v27.93h-5.408v-5.549h-20.423v5.549h36.289v12.131   h15.514v2.883h-18.398v-11.19h-41.425v-9.605h-15.526v-1.726h-2.006l-5.547,5.596v15.667h12.402v0.021h7.273v12.896h-51.616   v-11.657h7.461v-1.259h12.169v-15.714l-5.549-5.549h-17.438v11.237h-38.745v11.284H80.673v-3.544h16.794v-10.863h34.869v-86.447   H87.948v11.936H75.265v-5.223h9.185v-10.211h47.887v-77.867H90.559v5.828h-1.213v17.531H75.265v-17.531h5.128v-7.273h6.994V91.483   H75.265v-4.803H74.192z', fill='none', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216')
    rect(clip-rule='evenodd', fill='#FFFFFF', fill-rule='evenodd', height='15.154', width='8.3', x='255.945', y='87.426')
    rect(fill='none', height='15.154', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216', width='8.3', x='255.945', y='87.426')
    polyline(clip-rule='evenodd', fill='#FFFFFF', fill-rule='evenodd', points='264.245,117.733 276.089,117.733 281.266,126.732    264.245,136.525 264.245,117.733  ')
    polygon(fill='none', points='264.245,117.733 276.089,117.733    281.266,126.732 264.245,136.525  ', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216')
    polyline(clip-rule='evenodd', fill='#85CBEB', fill-rule='evenodd', points='245.175,216.816 264.245,216.816 264.245,199.844    264.245,200.816 245.175,200.816 245.175,216.816  ')
    polygon(fill='none', points='245.175,216.816 264.245,216.816    264.245,199.844 264.245,200.816 245.175,200.816  ', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216')
    polyline(clip-rule='evenodd', fill='#85CBEB', fill-rule='evenodd', points='87.388,116.987 87.388,118.713 75.265,118.713    75.265,100.389 87.388,100.389 87.388,116.987  ')
    polygon(fill='none', points='87.388,116.987 87.388,118.713    75.265,118.713 75.265,100.389 87.388,100.389  ', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216')
    polyline(clip-rule='evenodd', fill='#FFF584', fill-rule='evenodd', points='101.751,298.368 101.751,291.094 117.696,291.094    117.696,302.378 101.751,302.378 101.751,298.368  ')
    polygon(fill='none', points='101.751,298.368 101.751,291.094    117.696,291.094 117.696,302.378 101.751,302.378  ', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216')
    rect#ucom(clip-rule='evenodd', fill='#F4835E', fill-rule='evenodd', height='13.755', width='12.17', x='151.313', y='287.364')
    rect(fill='none', height='13.755', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216', width='12.17', x='151.313', y='287.364')
    rect#kantata(clip-rule='evenodd', fill='#6E99D0', fill-rule='evenodd', height='4.01', width='8.858', x='255.387', y='191.824')
    rect(fill='none', height='4.01', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216', width='8.858', x='255.387', y='191.824')
    polyline#patatas-and-wings(clip-rule='evenodd', fill='#E568A6', fill-rule='evenodd', points='78.902,57.724 94.288,57.724 94.288,49.983    83.122,49.983 83.122,54.109 78.902,54.109 78.902,57.724  ')
    polygon(fill='none', points='78.902,57.724 94.288,57.724    94.288,49.983 83.122,49.983 83.122,54.109 78.902,54.109  ', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216')
    rect#sushi-toria(clip-rule='evenodd', fill='#E568A6', fill-rule='evenodd', height='12.543', width='15.453', x='112.872', y='30.913')
    rect(fill='none', height='12.543', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216', width='15.453', x='112.872', y='30.913')
    rect#panini(clip-rule='evenodd', fill='#E568A6', fill-rule='evenodd', height='12.543', width='4.931', x='107.941', y='30.913')
    rect(fill='none', height='12.543', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216', width='4.931', x='107.941', y='30.913')
    rect#bono-salad-bar(clip-rule='evenodd', fill='#E568A6', fill-rule='evenodd', height='12.543', width='4.549', x='103.393', y='30.913')
    rect(fill='none', height='12.543', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216', width='4.549', x='103.393', y='30.913')
    rect#pizzatoria(clip-rule='evenodd', fill='#E568A6', fill-rule='evenodd', height='12.543', width='9.104', x='94.288', y='30.913')
    rect(fill='none', height='12.543', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216', width='9.104', x='94.288', y='30.913')
    polyline#kfc(clip-rule='evenodd', fill='#E568A6', fill-rule='evenodd', points='94.288,49.983 83.122,49.983 83.122,54.109    78.902,54.109 78.902,30.913 94.288,30.913 94.288,49.983  ')
    polygon(fill='none', points='94.288,49.983 83.122,49.983    83.122,54.109 78.902,54.109 78.902,30.913 94.288,30.913  ', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216')
    rect#rocca(clip-rule='evenodd', fill='#E568A6', fill-rule='evenodd', height='6.388', width='15.386', x='78.902', y='57.724')
    rect(fill='none', height='6.388', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216', width='15.386', x='78.902', y='57.724')
    polyline#chef-panda(clip-rule='evenodd', fill='#E568A6', fill-rule='evenodd', points='94.288,71.274 94.288,74.976 97.172,74.995    97.172,81.575 93.279,81.575 93.279,79.079 80.113,79.079 80.113,71.223  ')
    polyline#black-angus(clip-rule='evenodd', fill='#E568A6', fill-rule='evenodd', points='78.902,68.961 78.902,64.111 94.288,64.111    94.288,71.253 80.113,71.252 80.113,70.313 78.902,68.961  ')
    polygon(fill='none', points='78.902,68.961 78.902,64.111    94.288,64.111 94.288,74.976 97.172,74.995 97.172,81.575 93.279,81.575 93.279,79.079 80.113,79.079 80.113,70.313  ', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216')
    polyline#hero-sandwich(clip-rule='evenodd', fill='#E568A6', fill-rule='evenodd', points='125.294,83.407 132.756,83.407 132.756,88.171    125.301,88.171  ')
    polyline#franz-krainer(clip-rule='evenodd', fill='#E568A6', fill-rule='evenodd', points='113.5,81.217 120.452,81.217 120.451,88.171    113.5,88.171 113.5,81.217  ')
    polyline#waffle-house(clip-rule='evenodd', fill='#E568A6', fill-rule='evenodd', points='120.456,81.217 125.283,81.217 125.282,88.171    120.456,88.171 120.456,81.217  ')
    polygon(fill='none', points='113.5,81.217 125.294,81.217    125.294,83.407 132.756,83.407 132.756,88.171 113.5,88.171  ', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216')
    polyline#classic-burger(clip-rule='evenodd', fill='#E568A6', fill-rule='evenodd', points='104.088,87.925 104.092,83.417 110.138,83.417    110.138,81.598 103.325,81.598 103.325,81.537 103.329,74.976 113.5,74.976 113.5,88.171 104.092,88.171 104.088,87.925  ')
    polygon(fill='none', points='104.088,87.925 104.092,83.417    110.138,83.417 110.138,81.598 103.325,81.598 103.325,81.537 103.329,74.976 113.5,74.976 113.5,88.171 104.092,88.171  ', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216')
    polyline#jalapeno(clip-rule='evenodd', fill='#E568A6', fill-rule='evenodd', points='94.288,88.171 104.092,88.171 104.092,83.417    103.304,83.417 103.299,74.996 97.172,74.995 97.172,81.575 100.516,81.575 100.516,83.521 94.288,83.521 94.288,88.171  ')
    polygon(fill='none', points='94.288,88.171 104.092,88.171    104.092,83.417 103.304,83.417 103.299,74.996 97.172,74.995 97.172,81.575 100.516,81.575 100.516,83.521 94.288,83.521  ', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216')
    polyline#spago(clip-rule='evenodd', fill='#E568A6', fill-rule='evenodd', points='140.17,36.042 140.962,36.042 140.962,49.891    130.75,49.891 130.75,36.042 140.17,36.042  ')
    polygon(fill='none', points='140.17,36.042 140.962,36.042    140.962,49.891 130.75,49.891 130.75,36.042  ', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216')
    path#grammy(clip-rule='evenodd', d='M140.962,36.042h9.745c0,7.321,0.001,6.528,0.001,13.849h-9.746   V36.042', fill='#E568A6', fill-rule='evenodd')
    path(d='M140.962,36.042h9.745   c0,7.321,0.001,6.528,0.001,13.849h-9.746V36.042z', fill='none', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216')
    rect#lilorbits-donats(clip-rule='evenodd', fill='#E568A6', fill-rule='evenodd', height='4.277', width='11.47', x='149.589', y='82.716')
    rect(fill='none', height='4.277', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216', width='11.47', x='149.589', y='82.716')
    polyline#puma(clip-rule='evenodd', fill='#835894', fill-rule='evenodd', points='181.809,136.665 181.809,126.732 205.401,126.732    208.805,130.137 208.805,143.005 173.183,143.005 173.183,136.665 181.809,136.665  ')
    polygon(fill='none', points='181.809,136.665 181.809,126.732    205.401,126.732 208.805,130.137 208.805,143.005 173.183,143.005 173.183,136.665  ', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216')
    rect#mega-toys(clip-rule='evenodd', fill='#FBBB76', fill-rule='evenodd', height='20.096', width='19.816', x='189.035', y='97.638')
    rect(fill='none', height='20.096', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216', width='19.816', x='189.035', y='97.638')
    polyline(clip-rule='evenodd', fill='#FBBB76', fill-rule='evenodd', points='149.589,97.638 169.312,97.638 169.349,82.755    161.059,91.479 149.589,91.479 149.589,97.638  ')
    polygon(fill='none', points='149.589,97.638 169.312,97.638    169.349,82.755 161.059,91.479 149.589,91.479  ', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216')
    rect(clip-rule='evenodd', fill='#B0B0B1', fill-rule='evenodd', height='8.905', width='7.274', x='80.113', y='91.483')
    rect(fill='none', height='8.905', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216', width='7.274', x='80.113', y='91.483')
    rect(clip-rule='evenodd', fill='#B0B0B1', fill-rule='evenodd', height='9.093', width='4.896', x='80.113', y='79.079')
    rect(fill='none', height='9.093', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216', width='4.896', x='80.113', y='79.079')
    rect(clip-rule='evenodd', fill='#B0B0B1', fill-rule='evenodd', height='7.274', width='5.128', x='75.265', y='118.713')
    rect(fill='none', height='7.274', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216', width='5.128', x='75.265', y='118.713')
    polyline(clip-rule='evenodd', fill='#B0B0B1', fill-rule='evenodd', points='234.078,291.188 234.078,302.378 231.652,302.378    232.072,303.45 220.275,308.067 218.038,302.378 214.214,302.378 214.214,291.188 234.078,291.188  ')
    polygon(fill='none', points='234.078,291.188 234.078,302.378    231.652,302.378 232.072,303.45 220.275,308.067 218.038,302.378 214.214,302.378 214.214,291.188  ', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216')
    rect(clip-rule='evenodd', fill='#FFFFFF', fill-rule='evenodd', height='14.407', width='5.408', x='75.265', y='287.971')
    rect(fill='none', height='14.407', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216', width='5.408', x='75.265', y='287.971')
    polyline(clip-rule='evenodd', fill='#FFFFFF', fill-rule='evenodd', points='188.177,314.015 195.45,314.015 195.47,301.139    188.196,301.139 188.177,314.015  ')
    polygon(fill='none', points='188.177,314.015 195.45,314.015    195.47,301.139 188.196,301.139  ', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216')
    rect(clip-rule='evenodd', fill='#FFFFFF', fill-rule='evenodd', height='15.015', width='5.549', x='258.696', y='287.364')
    rect(fill='none', height='15.015', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216', width='5.549', x='258.696', y='287.364')
    rect(clip-rule='evenodd', fill='#B0B0B1', fill-rule='evenodd', height='6.251', width='9.185', x='130.985', y='27.929')
    rect(fill='none', height='6.251', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216', width='9.185', x='130.985', y='27.929')
    rect(clip-rule='evenodd', fill='#B0B0B1', fill-rule='evenodd', height='8.905', width='4.848', x='75.265', y='91.483')
    rect(fill='none', height='8.905', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216', width='4.848', x='75.265', y='91.483')
    rect(clip-rule='evenodd', fill='#B0B0B1', fill-rule='evenodd', height='12.867', width='14.081', x='75.265', y='130.65')
    rect(fill='none', height='12.867', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216', width='14.081', x='75.265', y='130.65')
    polyline(clip-rule='evenodd', fill='#FFFFFF', fill-rule='evenodd', points='75.215,213.488 87.894,213.393 87.942,208.174    87.942,198.025 75.265,198.025 75.215,213.488  ')
    polygon(fill='none', points='75.215,213.488 87.894,213.393    87.942,208.174 87.942,198.025 75.265,198.025  ', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216')
    polyline(clip-rule='evenodd', fill='#B0B0B1', fill-rule='evenodd', points='141.801,314.967 141.801,314.082 151.313,314.035    143.761,318.325 141.801,314.967  ')
    polygon(fill='none', points='141.801,314.967 141.801,314.082    151.313,314.035 143.761,318.325  ', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216')
    rect(clip-rule='evenodd', fill='#B0B0B1', fill-rule='evenodd', height='11.284', width='7.452', x='117.696', y='291.094')
    rect(fill='none', height='11.284', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216', width='7.452', x='117.696', y='291.094')
    polyline(clip-rule='evenodd', fill='#FFFFFF', fill-rule='evenodd', points='143.854,314.035 151.295,314.035 151.295,302.378    151.313,301.115 143.854,301.081 143.854,314.035  ')
    polygon(fill='none', points='143.854,314.035 151.295,314.035    151.295,302.378 151.313,301.115 143.854,301.081  ', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216')
    polyline(clip-rule='evenodd', fill='#B0B0B1', fill-rule='evenodd', points='227.316,287.364 232.71,287.364 232.725,281.815    227.331,281.815 227.316,287.364  ')
    polygon(fill='none', points='227.316,287.364 232.71,287.364    232.725,281.815 227.331,281.815  ', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216')
    rect(clip-rule='evenodd', fill='#F289A8', fill-rule='evenodd', height='4.01', width='5.875', x='249.512', y='191.824')
    rect(fill='none', height='4.01', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216', width='5.875', x='249.512', y='191.824')
    rect(clip-rule='evenodd', fill='#B0B0B1', fill-rule='evenodd', height='5.176', width='3.589', x='171.271', y='196.859')
    rect(fill='none', height='5.176', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216', width='3.589', x='171.271', y='196.859')
    rect(clip-rule='evenodd', fill='#B0B0B1', fill-rule='evenodd', height='5.175', width='3.497', x='168.658', y='172.288')
    rect(fill='none', height='5.175', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216', width='3.497', x='168.658', y='172.288')
    rect#american-baloons(clip-rule='evenodd', fill='#D01F5C', fill-rule='evenodd', height='6.295', width='4.71', x='139.051', y='120.438')
    rect(fill='none', height='6.295', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216', width='4.71', x='139.051', y='120.438')
    rect#sweet-shop(clip-rule='evenodd', fill='#D01F5C', fill-rule='evenodd', height='4.756', width='4.756', x='215.007', y='133.354')
    rect(fill='none', height='4.756', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216', width='4.756', x='215.007', y='133.354')
    rect(fill='#8E1176', height='5.509', width='5.511', x='117.143', y='58.302')
    path(d='M121.117,61.057c0,0.674-0.545,1.219-1.219,1.219s-1.22-0.545-1.22-1.219c0-0.675,0.546-1.22,1.22-1.22   S121.117,60.382,121.117,61.057', fill='#FFFFFF')
    path(d='M120.692,61.057c0,0.438-0.356,0.793-0.794,0.793s-0.794-0.355-0.794-0.793   c0-0.439,0.356-0.795,0.794-0.795S120.692,60.617,120.692,61.057', fill='#FFFFFF')
    circle(cx='119.898', cy='61.057', fill='none', r='0.794', stroke='#8E1176', stroke-miterlimit='22.9256', stroke-width='1.26')
    path(d='M118.488,60.085v0.476h-0.096v-0.476h-0.095v0.476h-0.096v-0.476h-0.095v0.525   c0,0.097,0.058,0.181,0.142,0.219v1.265h0.191v-1.265c0.084-0.038,0.144-0.122,0.144-0.219v-0.525H118.488', fill='#FFFFFF')
    path(d='M121.689,60.467c0-0.211-0.106-0.382-0.238-0.382c-0.131,0-0.239,0.171-0.239,0.382   c0,0.155,0.06,0.29,0.143,0.35v1.277h0.192v-1.277C121.631,60.757,121.689,60.622,121.689,60.467', fill='#FFFFFF')
    line(fill='none', stroke='#231F20', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='22.9256', stroke-width='0.5684', x1='108.836', x2='109.256', y1='333.524', y2='333.433')
    polyline(clip-rule='evenodd', fill='#EE372E', fill-rule='evenodd', points='146.012,89.058 148.484,90.457 143.542,90.457    146.012,89.058  ')
    rect(clip-rule='evenodd', fill='#EE372E', fill-rule='evenodd', height='0.465', width='4.942', x='143.542', y='90.644')
    rect(fill='#8E1176', height='5.533', width='5.533', x='252.501', y='205.271')
    path(d='M256.608,206.626c0,0.162-0.132,0.294-0.294,0.294s-0.294-0.132-0.294-0.294   c0-0.163,0.132-0.296,0.294-0.296S256.608,206.463,256.608,206.626', fill='#FFFFFF')
    rect(fill='#FFFFFF', height='3.479', width='0.259', x='255.125', y='206.31')
    path(d='M256.686,206.995h-0.742c-0.134,0-0.327,0.036-0.327,0.368v0.92h0.236v-0.829h0.095v2.335h0.32v-1.382   h0.094v1.382h0.32v-2.335h0.095v0.829h0.236v-0.92C257.013,207.031,256.819,206.995,256.686,206.995', fill='#FFFFFF')
    path(d='M254.484,206.626c0,0.162-0.132,0.294-0.294,0.294c-0.163,0-0.296-0.132-0.296-0.294   c0-0.163,0.133-0.296,0.296-0.296C254.353,206.33,254.484,206.463,254.484,206.626', fill='#FFFFFF')
    polyline(fill='#FFFFFF', points='254.143,208.791 254.147,208.791 254.147,208.407 253.813,208.645 253.813,209.789    254.143,209.789 254.143,208.791  ')
    polyline(fill='#FFFFFF', points='254.232,208.645 254.232,208.791 254.238,208.791 254.238,209.789 254.564,209.789    254.564,208.406 254.232,208.645  ')
    path(d='M254.468,207.441l0.092-0.024l0.213,0.778l0.188-0.051c0,0-0.229-0.837-0.259-0.934   c-0.03-0.097-0.101-0.213-0.463-0.213h-0.096c-0.364,0-0.434,0.116-0.464,0.213s-0.258,0.934-0.258,0.934l0.188,0.051l0.213-0.778   l0.091,0.024l-0.393,1.426h1.341L254.468,207.441', fill='#FFFFFF')
    rect(fill='#8E1176', height='5.485', width='5.486', x='78.829', y='106.725')
    path(d='M82.934,108.137c0,0.153-0.124,0.277-0.278,0.277c-0.153,0-0.277-0.124-0.277-0.277   c0-0.154,0.124-0.279,0.277-0.279C82.81,107.857,82.934,107.982,82.934,108.137', fill='#FFFFFF')
    rect(fill='#FFFFFF', height='3.283', width='0.243', x='81.534', y='107.838')
    path(d='M83.007,108.484h-0.702c-0.125,0-0.308,0.034-0.308,0.348v0.868h0.224v-0.781h0.089v2.2h0.302v-1.304H82.7   v1.304h0.303v-2.2h0.09v0.781h0.222v-0.868C83.314,108.519,83.132,108.484,83.007,108.484', fill='#FFFFFF')
    path(d='M80.93,108.137c0,0.153-0.125,0.277-0.278,0.277c-0.154,0-0.279-0.124-0.279-0.277   c0-0.154,0.125-0.279,0.279-0.279C80.805,107.857,80.93,107.982,80.93,108.137', fill='#FFFFFF')
    polyline(fill='#FFFFFF', points='80.607,110.178 80.612,110.178 80.612,109.815 80.298,110.041 80.298,111.119 80.607,111.119    80.607,110.178  ')
    polyline(fill='#FFFFFF', points='80.691,110.041 80.691,110.178 80.696,110.178 80.696,111.119 81.005,111.119 81.005,109.815    80.691,110.041  ')
    path(d='M80.914,108.907L81,108.883l0.202,0.732l0.175-0.048c0,0-0.215-0.788-0.243-0.879   c-0.029-0.092-0.095-0.201-0.438-0.201h-0.09c-0.342,0-0.408,0.109-0.437,0.201c-0.028,0.091-0.245,0.879-0.245,0.879l0.177,0.048   l0.201-0.732l0.087,0.024l-0.37,1.344h1.264L80.914,108.907', fill='#FFFFFF')
    rect(fill='#8E1176', height='5.496', width='5.496', x='199.021', y='269.959')
    path(d='M201.504,272.133c-0.11,0-0.272,0.029-0.272,0.308v0.919l0.519-0.52v-0.399   c0-0.278-0.161-0.308-0.273-0.308H201.504', fill='#FFFFFF')
    path(d='M201.75,271.797c0,0.141-0.114,0.256-0.258,0.256c-0.142,0-0.257-0.115-0.257-0.256   c0-0.143,0.115-0.258,0.257-0.258C201.636,271.539,201.75,271.654,201.75,271.797', fill='#FFFFFF')
    line(fill='none', stroke='#FFFFFF', stroke-miterlimit='22.9256', stroke-width='0.216', x1='203.049', x2='202.319', y1='273.545', y2='274.273')
    polyline(fill='none', points='203.049,273.973    203.049,273.545 202.621,273.545  ', stroke='#FFFFFF', stroke-miterlimit='22.9256', stroke-width='0.216')
    polyline(fill='none', points='202.319,273.846    202.319,274.273 202.747,274.273  ', stroke='#FFFFFF', stroke-miterlimit='22.9256', stroke-width='0.216')
    path(d='M203.118,272.147c0.137,0,0.247,0.112,0.247,0.249s-0.11,0.248-0.247,0.248h-0.461l-0.06,0.06l-1.454,1.454   h-0.663c-0.137,0-0.247-0.112-0.247-0.249s0.11-0.249,0.247-0.249h0.461l0.059-0.059l1.456-1.454H203.118 M203.118,271.943h-0.748   l-1.513,1.515h-0.377c-0.249,0-0.452,0.201-0.452,0.451c0,0.249,0.203,0.452,0.452,0.452h0.748l1.514-1.514h0.376   c0.249,0,0.451-0.201,0.451-0.451C203.569,272.147,203.367,271.943,203.118,271.943z', fill='#FFFFFF')
    rect(fill='#8E1176', height='5.496', width='5.494', x='201.1', y='184.521')
    path(d='M203.879,186.275c-0.108,0-0.265,0.028-0.265,0.299v0.89l0.503-0.504v-0.386   c0-0.271-0.157-0.299-0.265-0.299H203.879', fill='#FFFFFF')
    path(d='M204.116,185.949c0,0.139-0.11,0.25-0.249,0.25c-0.138,0-0.25-0.111-0.25-0.25   c0-0.137,0.112-0.249,0.25-0.249C204.006,185.7,204.116,185.813,204.116,185.949', fill='#FFFFFF')
    line(fill='none', stroke='#FFFFFF', stroke-miterlimit='22.9256', stroke-width='0.216', x1='205.375', x2='204.669', y1='187.646', y2='188.352')
    polyline(fill='none', points='205.375,188.06 205.375,187.646    204.962,187.646  ', stroke='#FFFFFF', stroke-miterlimit='22.9256', stroke-width='0.216')
    polyline(fill='none', points='204.669,187.937    204.669,188.352 205.084,188.352  ', stroke='#FFFFFF', stroke-miterlimit='22.9256', stroke-width='0.216')
    path(d='M205.443,186.29c0.131,0,0.24,0.108,0.24,0.241s-0.109,0.242-0.24,0.242h-0.447l-0.058,0.057l-1.408,1.409   h-0.644c-0.133,0-0.24-0.108-0.24-0.24c0-0.134,0.107-0.241,0.24-0.241h0.446l0.058-0.059l1.41-1.409H205.443 M205.443,186.093   h-0.724l-1.468,1.467h-0.365c-0.242,0-0.438,0.196-0.438,0.439c0,0.242,0.196,0.437,0.438,0.437h0.724l1.468-1.466h0.365   c0.241,0,0.438-0.196,0.438-0.438S205.685,186.093,205.443,186.093z', fill='#FFFFFF')
    rect(fill='#8E1176', height='8.244', width='8.243', x='272.285', y='191.079')
    path(d='M275.716,193.444v1.506h0.585c0.424,0,0.707-0.028,0.85-0.083c0.143-0.056,0.253-0.143,0.335-0.262   c0.081-0.118,0.121-0.255,0.121-0.412c0-0.192-0.057-0.353-0.17-0.479s-0.258-0.204-0.431-0.234   c-0.129-0.025-0.387-0.036-0.773-0.036H275.716 M274.643,197.857v-5.313h1.721c0.652,0,1.077,0.027,1.275,0.081   c0.304,0.078,0.561,0.252,0.766,0.519c0.205,0.269,0.309,0.613,0.309,1.035c0,0.326-0.06,0.601-0.18,0.821   c-0.118,0.224-0.268,0.398-0.45,0.525c-0.183,0.126-0.368,0.211-0.556,0.251c-0.256,0.052-0.627,0.077-1.113,0.077h-0.698v2.004   H274.643z', fill='#FFFFFF')
    rect(fill='#8E1176', height='5.496', width='5.496', x='199.021', y='258.963')
    path(d='M203.541,261.711c0,0.978-0.793,1.771-1.771,1.771c-0.977,0-1.77-0.793-1.77-1.771   c0-0.979,0.793-1.771,1.77-1.771C202.748,259.939,203.541,260.732,203.541,261.711', fill='#FFFFFF')
    polyline(fill='#8E1176', points='202.078,262.843 202.078,261.07 201.232,261.07 201.232,261.3 201.462,261.3 201.462,262.843    201.232,262.843 201.232,263.072 202.309,263.072 202.309,262.843 202.078,262.843  ')
    path(d='M201.773,260.829c0.169,0,0.305-0.137,0.305-0.306c0-0.168-0.136-0.305-0.305-0.305   c-0.168,0-0.305,0.137-0.305,0.305C201.469,260.692,201.605,260.829,201.773,260.829', fill='#8E1176')
    rect(fill='#8E1176', height='4.88', width='4.878', x='259.318', y='195.884')
    line(fill='none', stroke='#FFFFFF', stroke-miterlimit='22.9256', stroke-width='0.216', x1='261.618', x2='260.863', y1='197.307', y2='198.061')
    polyline(fill='none', points='261.619,197.754    261.619,197.307 261.173,197.307  ', stroke='#FFFFFF', stroke-miterlimit='22.9256', stroke-width='0.216')
    polyline(fill='none', points='260.863,197.613    260.863,198.061 261.312,198.061  ', stroke='#FFFFFF', stroke-miterlimit='22.9256', stroke-width='0.216')
    polyline(fill='none', points='260.273,199.682    260.926,199.682 260.926,199.105 261.503,199.105 261.503,198.529 262.078,198.529 262.078,197.953 262.654,197.953    262.654,197.377 263.23,197.377  ', stroke='#FFFFFF', stroke-miterlimit='22.9256', stroke-width='0.216')
    rect(fill='#8E1176', height='5.523', width='5.523', x='144.834', y='301.955')
    line(fill='none', stroke='#FFFFFF', stroke-miterlimit='22.9256', stroke-width='0.216', x1='147.438', x2='146.575', y1='303.565', y2='304.428')
    polyline(fill='none', points='147.438,304.072    147.438,303.565 146.934,303.565  ', stroke='#FFFFFF', stroke-miterlimit='22.9256', stroke-width='0.216')
    polyline(fill='none', points='146.575,303.923    146.575,304.428 147.081,304.428  ', stroke='#FFFFFF', stroke-miterlimit='22.9256', stroke-width='0.216')
    polyline(fill='none', points='145.915,306.255    146.653,306.255 146.653,305.602 147.308,305.602 147.308,304.949 147.958,304.949 147.958,304.297 148.611,304.297    148.611,303.645 149.265,303.645  ', stroke='#FFFFFF', stroke-miterlimit='22.9256', stroke-width='0.216')
    rect(fill='#8E1176', height='5.504', width='5.504', x='152.001', y='307.924')
    line(fill='none', stroke='#FFFFFF', stroke-miterlimit='22.9256', stroke-width='0.216', x1='156.1', x2='156.1', y1='310.164', y2='311.339')
    polyline(fill='none', points='156.464,310.464 156.1,310.102    155.738,310.464  ', stroke='#FFFFFF', stroke-miterlimit='22.9256', stroke-width='0.216')
    polyline(fill='none', points='155.738,310.977 156.1,311.339    156.464,310.977  ', stroke='#FFFFFF', stroke-miterlimit='22.9256', stroke-width='0.216')
    rect(fill='none', height='3.097', stroke='#FFFFFF', stroke-miterlimit='22.9256', stroke-width='0.216', width='2.2', x='153.201', y='309.116')
    path(d='M154.516,309.626c0,0.118-0.095,0.214-0.213,0.214c-0.119,0-0.216-0.096-0.216-0.214   c0-0.119,0.097-0.215,0.216-0.215C154.421,309.411,154.516,309.507,154.516,309.626', fill='#FFFFFF')
    path(d='M154.572,309.895h-0.54c-0.098,0-0.237,0.026-0.237,0.268v0.67h0.171v-0.604h0.068v1.699h0.234v-1.007   h0.067v1.007h0.234v-1.699h0.067v0.604h0.173v-0.67C154.811,309.921,154.669,309.895,154.572,309.895', fill='#FFFFFF')
    rect(fill='#8E1176', height='5.333', width='5.333', x='75.301', y='290.895')
    line(fill='none', stroke='#FFFFFF', stroke-miterlimit='22.9256', stroke-width='0.216', x1='77.818', x2='76.992', y1='292.451', y2='293.275')
    polyline(fill='none', points='77.816,292.939 77.816,292.45    77.328,292.45  ', stroke='#FFFFFF', stroke-miterlimit='22.9256', stroke-width='0.216')
    polyline(fill='none', points='76.983,292.795 76.983,293.284    77.472,293.284  ', stroke='#FFFFFF', stroke-miterlimit='22.9256', stroke-width='0.216')
    polyline(fill='none', points='76.344,295.046 77.059,295.046    77.059,294.416 77.688,294.416 77.688,293.787 78.318,293.787 78.318,293.156 78.948,293.156 78.948,292.526 79.578,292.526  ', stroke='#FFFFFF', stroke-miterlimit='22.9256', stroke-width='0.216')
    rect(clip-rule='evenodd', fill='#85CBEB', fill-rule='evenodd', height='6.854', width='5.548', x='80.673', y='287.971')
    rect(fill='none', height='6.854', stroke='#000001', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='22.9256', stroke-width='0.216', width='5.548', x='80.673', y='287.971')
    rect(fill='#8E1176', height='5.464', width='5.464', x='80.715', y='288.651')
    path(d='M84.708,290.055c0,0.154-0.124,0.278-0.277,0.278c-0.152,0-0.277-0.124-0.277-0.278   c0-0.152,0.125-0.276,0.277-0.276C84.584,289.778,84.708,289.902,84.708,290.055', fill='#FFFFFF')
    rect(fill='#FFFFFF', height='3.27', width='0.242', x='83.313', y='289.76')
    path(d='M84.779,290.402h-0.698c-0.125,0-0.306,0.036-0.306,0.347v0.865h0.222v-0.777h0.088v2.192h0.302v-1.299   h0.089v1.299h0.301v-2.192h0.088v0.777h0.223v-0.865C85.087,290.438,84.905,290.402,84.779,290.402', fill='#FFFFFF')
    path(d='M82.711,290.055c0,0.154-0.124,0.278-0.277,0.278c-0.152,0-0.277-0.124-0.277-0.278   c0-0.152,0.125-0.276,0.277-0.276C82.587,289.778,82.711,289.902,82.711,290.055', fill='#FFFFFF')
    polyline(fill='#FFFFFF', points='82.391,292.091 82.395,292.091 82.395,291.73 82.081,291.953 82.081,293.031 82.391,293.031    82.391,292.091  ')
    polyline(fill='#FFFFFF', points='82.473,291.953 82.473,292.091 82.478,292.091 82.478,293.031 82.786,293.031 82.786,291.73    82.473,291.953  ')
    path(d='M82.695,290.824l0.086-0.023l0.201,0.73l0.174-0.049c0,0-0.214-0.785-0.242-0.877   c-0.029-0.091-0.095-0.199-0.437-0.199h-0.089c-0.341,0-0.406,0.108-0.436,0.199c-0.029,0.092-0.242,0.877-0.242,0.877l0.176,0.049   l0.201-0.73l0.084,0.023l-0.368,1.341h1.259L82.695,290.824', fill='#FFFFFF')
    rect(fill='#8E1176', height='5.532', width='5.532', x='202.021', y='163.471')
    path(d='M205.734,165.766v1.372c0,0.115-0.095,0.21-0.21,0.21h-1.478c-0.114,0-0.21-0.095-0.21-0.21v-1.372H205.734   ', fill='#FFFFFF')
    path(d='M206.445,167.529c0,0.202-0.165,0.367-0.367,0.367h-2.584c-0.202,0-0.367-0.165-0.367-0.367H206.445', fill='#FFFFFF')
    path(d='M205.724,165.972c0.164,0,0.299,0.134,0.299,0.298c0,0.165-0.135,0.3-0.299,0.3s-0.298-0.135-0.298-0.3   C205.426,166.105,205.56,165.972,205.724,165.972 M205.724,165.766c-0.278,0-0.505,0.227-0.505,0.504   c0,0.279,0.227,0.505,0.505,0.505s0.504-0.226,0.504-0.505C206.228,165.992,206.002,165.766,205.724,165.766z', fill='#FFFFFF')
    path(d='M204.686,164.576c0.047,0.146,0.014,0.324-0.095,0.486c-0.082,0.124-0.089,0.38,0.117,0.539   c-0.096-0.238-0.029-0.353,0.035-0.45C204.85,164.987,204.878,164.764,204.686,164.576', fill='#FFFFFF')
    path(d='M204.939,164.854c0.013,0.127,0.004,0.229-0.101,0.385c-0.065,0.097-0.097,0.31,0.066,0.437   c-0.055-0.164,0.024-0.283,0.072-0.364C205.063,165.169,205.085,165.013,204.939,164.854', fill='#FFFFFF')
    path(d='M205.734,165.766v1.372c0,0.115-0.095,0.21-0.21,0.21h-1.478c-0.114,0-0.21-0.095-0.21-0.21v-1.372H205.734   ', fill='#FFFFFF')
    path(d='M206.445,167.529c0,0.202-0.165,0.367-0.367,0.367h-2.584c-0.202,0-0.367-0.165-0.367-0.367H206.445', fill='#FFFFFF')
    path(d='M205.724,165.972c0.164,0,0.299,0.134,0.299,0.298c0,0.165-0.135,0.3-0.299,0.3s-0.298-0.135-0.298-0.3   C205.426,166.105,205.56,165.972,205.724,165.972 M205.724,165.766c-0.278,0-0.505,0.227-0.505,0.504   c0,0.279,0.227,0.505,0.505,0.505s0.504-0.226,0.504-0.505C206.228,165.992,206.002,165.766,205.724,165.766z', fill='#FFFFFF')
    path(d='M204.686,164.576c0.047,0.146,0.014,0.324-0.095,0.486c-0.082,0.124-0.089,0.38,0.117,0.539   c-0.096-0.238-0.029-0.353,0.035-0.45C204.85,164.987,204.878,164.764,204.686,164.576', fill='#FFFFFF')
    path(d='M204.939,164.854c0.013,0.127,0.004,0.229-0.101,0.385c-0.065,0.097-0.097,0.31,0.066,0.437   c-0.055-0.164,0.024-0.283,0.072-0.364C205.063,165.169,205.085,165.013,204.939,164.854', fill='#FFFFFF')
    path(clip-rule='evenodd', d='M280.481,141.795l-3.409,1.962l-1.619-2.813   c-0.101-0.174-0.282-0.246-0.482-0.132l-1.738,1.001c-0.123,0.071-0.301-0.008-0.246-0.209l1.658-6.011l6.029,1.588   c0.201,0.053,0.182,0.246,0.059,0.317l-1.739,0.999c-0.2,0.117-0.229,0.311-0.13,0.483L280.481,141.795', fill='#EE372E', fill-rule='evenodd')
    path(clip-rule='evenodd', d='M275.187,186.432v3.935h-3.245c-0.2,0-0.354,0.122-0.354,0.353   v2.007c0,0.142-0.156,0.255-0.304,0.107l-4.384-4.434l4.384-4.435c0.147-0.147,0.304-0.035,0.304,0.107v2.006   c0,0.231,0.153,0.354,0.354,0.354H275.187', fill='#EE372E', fill-rule='evenodd')
    rect(fill='#8E1176', height='5.532', width='5.533', x='245.209', y='200.857')
    path(clip-rule='evenodd', d='M246.688,204.165c0.117,0,0.211-0.096,0.211-0.212   s-0.094-0.212-0.211-0.212s-0.212,0.096-0.212,0.212S246.571,204.165,246.688,204.165 M247.644,204.177   c0.08,0,0.146-0.065,0.146-0.146v-0.331h0.192c0.052,0,0.093-0.04,0.093-0.092s-0.041-0.093-0.093-0.093h-0.34   c-0.049,0-0.089,0.041-0.089,0.089v0.189h-0.366v-0.302c0-0.052-0.041-0.093-0.092-0.093c-0.05,0-0.091,0.041-0.091,0.093v0.602   c0,0.048,0.037,0.084,0.084,0.084H247.644z M249.032,204.002h0.441l-0.274-0.961l-0.659-0.667c-0.151-0.152-0.474-0.03-0.474,0.193   v0.581h-0.464c-0.062,0-0.111,0.049-0.111,0.111c0,0.061,0.05,0.109,0.111,0.109h0.604c0.047,0,0.085-0.038,0.085-0.083v-0.322   l0.267,0.266l-0.208,0.772h0.41v1.147c0,0.074,0.062,0.135,0.136,0.135s0.136-0.061,0.136-0.135V204.002z M247.922,202.388   c0.117,0,0.212-0.094,0.212-0.211c0-0.118-0.095-0.213-0.212-0.213s-0.213,0.095-0.213,0.213   C247.709,202.294,247.805,202.388,247.922,202.388z M246.519,204.457h1.489c0.018,0,0.033-0.015,0.033-0.034v-0.053   c0-0.019-0.016-0.034-0.033-0.034h-1.489c-0.019,0-0.034,0.016-0.034,0.034v0.053C246.484,204.442,246.5,204.457,246.519,204.457z', fill='#FFFFFF', fill-rule='evenodd')
    rect(fill='#8E1176', height='5.531', width='5.533', x='245.194', y='211.246')
    polyline(fill='none', points='247.434,213.15 247.418,214.313    248.322,214.313 248.833,215.141 249.337,214.855  ', stroke='#FFFFFF', stroke-miterlimit='22.9256', stroke-width='0.216')
    path(d='M248.424,214.981   c-0.096,0.397-0.453,0.692-0.88,0.692c-0.499,0-0.904-0.404-0.904-0.905c0-0.308,0.152-0.578,0.387-0.741', fill='none', stroke='#FFFFFF', stroke-miterlimit='22.9256', stroke-width='0.216')
    line(fill='none', stroke='#FFFFFF', stroke-miterlimit='22.9256', stroke-width='0.216', x1='247.631', x2='248.398', y1='213.719', y2='213.719')
    path(d='M247.7,212.633c0,0.153-0.126,0.277-0.278,0.277s-0.277-0.124-0.277-0.277s0.125-0.279,0.277-0.279   S247.7,212.479,247.7,212.633', fill='#FFFFFF')
    path(d='M247.437,212.995c-0.118,0-0.291,0.031-0.291,0.327v1.119h0.552v-1.119c0-0.296-0.17-0.327-0.289-0.327   H247.437', fill='#FFFFFF')
    rect(fill='#8E1176', height='5.532', width='5.532', x='81.814', y='113.138')
    path(clip-rule='evenodd', d='M83.294,116.445c0.117,0,0.212-0.096,0.212-0.212   c0-0.117-0.095-0.213-0.212-0.213c-0.116,0-0.212,0.096-0.212,0.213C83.082,116.35,83.178,116.445,83.294,116.445 M84.249,116.457   c0.082,0,0.146-0.066,0.146-0.146v-0.332h0.192c0.051,0,0.092-0.041,0.092-0.092s-0.041-0.092-0.092-0.092h-0.34   c-0.049,0-0.09,0.04-0.09,0.09v0.188h-0.365v-0.303c0-0.05-0.041-0.091-0.091-0.091c-0.051,0-0.092,0.041-0.092,0.091v0.603   c0,0.048,0.037,0.085,0.084,0.085H84.249z M85.639,116.281h0.441l-0.275-0.961l-0.659-0.667c-0.151-0.153-0.473-0.03-0.473,0.194   v0.58h-0.464c-0.063,0-0.111,0.051-0.111,0.111c0,0.062,0.049,0.109,0.111,0.109h0.604c0.047,0,0.085-0.037,0.085-0.082v-0.322   l0.266,0.265l-0.207,0.772h0.41v1.147c0,0.074,0.061,0.135,0.135,0.135s0.137-0.061,0.137-0.135V116.281z M84.527,114.668   c0.117,0,0.212-0.094,0.212-0.211c0-0.119-0.095-0.213-0.212-0.213s-0.213,0.094-0.213,0.213   C84.314,114.574,84.41,114.668,84.527,114.668z M83.126,116.736h1.487c0.018,0,0.033-0.014,0.033-0.032v-0.055   c0-0.018-0.016-0.033-0.033-0.033h-1.487c-0.021,0-0.034,0.016-0.034,0.033v0.055C83.092,116.723,83.105,116.736,83.126,116.736z', fill='#FFFFFF', fill-rule='evenodd')
    rect(fill='#8E1176', height='5.532', width='5.532', x='75.304', y='113.138')
    polyline(fill='none', points='77.542,115.042 77.527,116.205    78.431,116.205 78.943,117.033 79.445,116.747  ', stroke='#FFFFFF', stroke-miterlimit='22.9256', stroke-width='0.216')
    path(d='M78.534,116.873   c-0.096,0.397-0.453,0.693-0.881,0.693c-0.499,0-0.905-0.406-0.905-0.905c0-0.308,0.154-0.579,0.388-0.741', fill='none', stroke='#FFFFFF', stroke-miterlimit='22.9256', stroke-width='0.216')
    line(fill='none', stroke='#FFFFFF', stroke-miterlimit='22.9256', stroke-width='0.216', x1='77.74', x2='78.508', y1='115.609', y2='115.609')
    path(d='M77.809,114.524c0,0.153-0.124,0.277-0.277,0.277c-0.154,0-0.278-0.124-0.278-0.277   s0.124-0.278,0.278-0.278C77.685,114.246,77.809,114.371,77.809,114.524', fill='#FFFFFF')
    path(d='M77.545,114.887c-0.117,0-0.29,0.033-0.29,0.328v1.118h0.551v-1.118c0-0.295-0.172-0.328-0.29-0.328H77.545   ', fill='#FFFFFF')
    rect(fill='#8E1176', height='8.244', width='8.244', x='164.442', y='330.109')
    path(d='M167.872,332.475v1.507h0.585c0.425,0,0.708-0.028,0.85-0.084c0.143-0.056,0.255-0.142,0.337-0.259   c0.079-0.119,0.121-0.258,0.121-0.414c0-0.193-0.059-0.354-0.172-0.479c-0.112-0.125-0.258-0.203-0.43-0.235   c-0.13-0.023-0.388-0.035-0.772-0.035H167.872 M166.8,336.889v-5.313h1.722c0.65,0,1.077,0.026,1.274,0.08   c0.304,0.079,0.561,0.251,0.766,0.519c0.204,0.267,0.309,0.613,0.309,1.034c0,0.327-0.061,0.601-0.18,0.822   c-0.118,0.224-0.267,0.398-0.45,0.523c-0.183,0.128-0.367,0.212-0.557,0.252c-0.256,0.052-0.627,0.076-1.111,0.076h-0.7v2.006   H166.8z', fill='#FFFFFF')
    path(clip-rule='evenodd', d='M170.532,327.862h-3.936v-3.245c0-0.199-0.122-0.354-0.354-0.354   h-2.006c-0.142,0-0.255-0.157-0.107-0.304l4.435-4.384l4.434,4.384c0.147,0.146,0.034,0.304-0.106,0.304h-2.007   c-0.231,0-0.353,0.154-0.353,0.354V327.862', fill='#EE372E', fill-rule='evenodd')
    rect(fill='#8E1176', height='5.466', width='5.468', x='258.736', y='290.762')
    line(fill='none', stroke='#FFFFFF', stroke-miterlimit='22.9256', stroke-width='0.216', x1='261.192', x2='260.367', y1='292.451', y2='293.275')
    polyline(fill='none', points='261.191,292.939 261.191,292.45    260.702,292.45  ', stroke='#FFFFFF', stroke-miterlimit='22.9256', stroke-width='0.216')
    polyline(fill='none', points='260.358,292.795    260.358,293.284 260.846,293.284  ', stroke='#FFFFFF', stroke-miterlimit='22.9256', stroke-width='0.216')
    polyline(fill='none', points='259.718,295.046    260.434,295.046 260.434,294.416 261.063,294.416 261.063,293.787 261.693,293.787 261.693,293.156 262.322,293.156    262.322,292.526 262.953,292.526  ', stroke='#FFFFFF', stroke-miterlimit='22.9256', stroke-width='0.216')
    rect(fill='#8E1176', height='5.523', width='5.523', x='188.996', y='301.955')
    line(fill='none', stroke='#FFFFFF', stroke-miterlimit='22.9256', stroke-width='0.216', x1='191.602', x2='190.737', y1='303.565', y2='304.428')
    polyline(fill='none', points='191.602,304.072    191.602,303.565 191.096,303.565  ', stroke='#FFFFFF', stroke-miterlimit='22.9256', stroke-width='0.216')
    polyline(fill='none', points='190.737,303.923    190.737,304.428 191.244,304.428  ', stroke='#FFFFFF', stroke-miterlimit='22.9256', stroke-width='0.216')
    polyline(fill='none', points='190.077,306.255    190.816,306.255 190.816,305.602 191.469,305.602 191.469,304.949 192.121,304.949 192.121,304.297 192.773,304.297    192.773,303.645 193.426,303.645  ', stroke='#FFFFFF', stroke-miterlimit='22.9256', stroke-width='0.216')
    rect(fill='#8E1176', height='5.504', width='5.506', x='181.848', y='307.924')
    line(fill='none', stroke='#FFFFFF', stroke-miterlimit='22.9256', stroke-width='0.216', x1='185.947', x2='185.947', y1='310.164', y2='311.339')
    polyline(fill='none', points='186.311,310.464    185.947,310.102 185.586,310.464  ', stroke='#FFFFFF', stroke-miterlimit='22.9256', stroke-width='0.216')
    polyline(fill='none', points='185.586,310.977    185.947,311.339 186.311,310.977  ', stroke='#FFFFFF', stroke-miterlimit='22.9256', stroke-width='0.216')
    rect(fill='none', height='3.097', stroke='#FFFFFF', stroke-miterlimit='22.9256', stroke-width='0.216', width='2.2', x='183.049', y='309.116')
    path(d='M184.363,309.626c0,0.118-0.096,0.214-0.214,0.214s-0.215-0.096-0.215-0.214   c0-0.119,0.097-0.215,0.215-0.215S184.363,309.507,184.363,309.626', fill='#FFFFFF')
    path(d='M184.421,309.895h-0.542c-0.097,0-0.238,0.026-0.238,0.268v0.67h0.172v-0.604h0.069v1.699h0.232v-1.007   h0.07v1.007h0.232v-1.699h0.068v0.604h0.172v-0.67C184.657,309.921,184.516,309.895,184.421,309.895', fill='#FFFFFF')
    rect(fill='#8E1176', height='5.065', width='5.065', x='259.163', y='91.964')
    line(fill='none', stroke='#FFFFFF', stroke-miterlimit='22.9256', stroke-width='0.216', x1='261.552', x2='260.768', y1='93.439', y2='94.224')
    polyline(fill='none', points='261.553,93.905 261.553,93.441    261.089,93.441  ', stroke='#FFFFFF', stroke-miterlimit='22.9256', stroke-width='0.216')
    polyline(fill='none', points='260.768,93.759 260.768,94.224    261.232,94.224  ', stroke='#FFFFFF', stroke-miterlimit='22.9256', stroke-width='0.216')
    polyline(fill='none', points='260.154,95.906 260.833,95.906    260.833,95.309 261.432,95.309 261.432,94.709 262.03,94.709 262.03,94.111 262.629,94.111 262.629,93.513 263.227,93.513  ', stroke='#FFFFFF', stroke-miterlimit='22.9256', stroke-width='0.216')
    rect(fill='#8E1176', height='5.067', width='5.066', x='264.245', y='117.733')
    line(fill='none', stroke='#FFFFFF', stroke-miterlimit='22.9256', stroke-width='0.216', x1='266.633', x2='265.85', y1='119.21', y2='119.994')
    polyline(fill='none', points='266.635,119.675    266.635,119.211 266.171,119.211  ', stroke='#FFFFFF', stroke-miterlimit='22.9256', stroke-width='0.216')
    polyline(fill='none', points='265.85,119.529 265.85,119.994    266.314,119.994  ', stroke='#FFFFFF', stroke-miterlimit='22.9256', stroke-width='0.216')
    polyline(fill='none', points='265.237,121.677    265.916,121.677 265.916,121.079 266.513,121.079 266.513,120.48 267.112,120.48 267.112,119.882 267.71,119.882 267.71,119.283    268.309,119.283  ', stroke='#FFFFFF', stroke-miterlimit='22.9256', stroke-width='0.216')
    rect(fill='#8E1176', height='5.538', width='5.536', x='221.649', y='184.521')
    line(fill='none', stroke='#FFFFFF', stroke-miterlimit='22.9256', stroke-width='0.216', x1='225.773', x2='225.773', y1='186.71', y2='187.955')
    polyline(fill='none', points='226.139,187.076 225.773,186.71    225.408,187.076  ', stroke='#FFFFFF', stroke-miterlimit='22.9256', stroke-width='0.216')
    polyline(fill='none', points='225.408,187.591    225.773,187.955 226.139,187.591  ', stroke='#FFFFFF', stroke-miterlimit='22.9256', stroke-width='0.216')
    rect(fill='none', height='3.116', stroke='#FFFFFF', stroke-miterlimit='22.9256', stroke-width='0.216', width='2.215', x='222.856', y='185.719')
    path(d='M224.179,186.231c0,0.12-0.096,0.218-0.215,0.218s-0.216-0.098-0.216-0.218   c0-0.118,0.097-0.215,0.216-0.215S224.179,186.113,224.179,186.231', fill='#FFFFFF')
    path(d='M224.235,186.502h-0.545c-0.097,0-0.238,0.028-0.238,0.271v0.673h0.173v-0.606h0.069v1.708h0.234v-1.012   h0.069v1.012h0.235v-1.708h0.068v0.606h0.174v-0.673C224.476,186.53,224.332,186.502,224.235,186.502', fill='#FFFFFF')
    rect(fill='#8E1176', height='5.069', width='5.068', x='269.766', y='117.733')
    line(fill='none', stroke='#FFFFFF', stroke-miterlimit='22.9256', stroke-width='0.216', x1='273.54', x2='273.54', y1='119.738', y2='120.877')
    polyline(fill='none', points='273.875,120.071 273.54,119.738    273.205,120.071  ', stroke='#FFFFFF', stroke-miterlimit='22.9256', stroke-width='0.216')
    polyline(fill='none', points='273.205,120.543 273.54,120.877    273.875,120.543  ', stroke='#FFFFFF', stroke-miterlimit='22.9256', stroke-width='0.216')
    rect(fill='none', height='2.854', stroke='#FFFFFF', stroke-miterlimit='22.9256', stroke-width='0.216', width='2.025', x='270.871', y='118.83')
    path(d='M272.082,119.301c0,0.108-0.09,0.196-0.199,0.196c-0.108,0-0.195-0.088-0.195-0.196   c0-0.11,0.087-0.198,0.195-0.198C271.992,119.103,272.082,119.19,272.082,119.301', fill='#FFFFFF')
    path(d='M272.133,119.547h-0.498c-0.09,0-0.22,0.025-0.22,0.247v0.617h0.159v-0.555h0.063v1.563h0.215v-0.926h0.064   v0.926h0.213v-1.563h0.065v0.555h0.158v-0.617C272.353,119.572,272.222,119.547,272.133,119.547', fill='#FFFFFF')
    rect(fill='#8E1176', height='5.496', width='5.497', x='251.595', y='268.6')
    path(d='M254.077,270.771c-0.111,0-0.272,0.031-0.272,0.309v0.919l0.519-0.521v-0.398   c0-0.277-0.162-0.309-0.273-0.309H254.077', fill='#FFFFFF')
    path(d='M254.323,270.437c0,0.142-0.116,0.259-0.258,0.259c-0.143,0-0.257-0.117-0.257-0.259   s0.114-0.259,0.257-0.259C254.207,270.178,254.323,270.295,254.323,270.437', fill='#FFFFFF')
    line(fill='none', stroke='#FFFFFF', stroke-miterlimit='22.9256', stroke-width='0.216', x1='255.621', x2='254.892', y1='272.186', y2='272.914')
    polyline(fill='none', points='255.621,272.612    255.621,272.186 255.194,272.186  ', stroke='#FFFFFF', stroke-miterlimit='22.9256', stroke-width='0.216')
    polyline(fill='none', points='254.892,272.486    254.892,272.914 255.319,272.914  ', stroke='#FFFFFF', stroke-miterlimit='22.9256', stroke-width='0.216')
    path(d='M255.69,270.788c0.138,0,0.249,0.11,0.249,0.248s-0.111,0.25-0.249,0.25h-0.461l-0.061,0.059l-1.451,1.453   h-0.665c-0.136,0-0.247-0.11-0.247-0.248s0.111-0.25,0.247-0.25h0.462l0.059-0.059l1.454-1.453H255.69 M255.69,270.584h-0.747   l-1.514,1.514h-0.377c-0.249,0-0.451,0.202-0.451,0.452c0,0.249,0.202,0.452,0.451,0.452h0.747l1.516-1.514h0.375   c0.25,0,0.452-0.202,0.452-0.452S255.94,270.584,255.69,270.584z', fill='#FFFFFF')
    text(fill='#231F20', font-family='"ArialMT"', font-size='2.6468', transform='matrix(4.000040e-005 -1 1 4.000040e-005 237.7998 301.502)') OFFICE
    rect(clip-rule='evenodd', fill='#FFFFFF', fill-rule='evenodd', height='23.426', width='6.141', x='214.058', y='232.659')
    rect(fill='none', height='23.426', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216', width='6.141', x='214.058', y='232.659')
    line(fill='none', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216', x1='80.113', x2='94.288', y1='71.249', y2='71.249')
    line(fill='none', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216', x1='120.448', x2='120.448', y1='81.217', y2='88.171')
    line(fill='none', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216', x1='125.294', x2='125.294', y1='81.217', y2='88.171')
    line(fill='none', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216', x1='128.32', x2='128.32', y1='78.635', y2='81.217')
    line(fill='none', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216', x1='132.756', x2='125.294', y1='83.407', y2='83.407')
    rect(clip-rule='evenodd', fill='#FFFFFF', fill-rule='evenodd', height='1.569', width='1.526', x='113.961', y='43.456')
    rect(fill='none', height='1.569', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216', width='1.526', x='113.961', y='43.456')
    polyline(clip-rule='evenodd', fill='#E568A6', fill-rule='evenodd', points='126.416,78.635 125.294,79.777 125.294,81.217    128.32,81.217 128.32,78.635 126.416,78.635  ')
    polygon(fill='none', points='126.416,78.635 125.294,79.777    125.294,81.217 128.32,81.217 128.32,78.635  ', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216')
    polyline#crepe(clip-rule='evenodd', fill='#E568A6', fill-rule='evenodd', points='126.416,78.635 125.294,79.777 125.294,81.217    132.756,81.217 132.756,79.777 131.634,78.635 126.416,78.635  ')
    polygon(fill='none', points='126.416,78.635 125.294,79.777    125.294,81.217 132.756,81.217 132.756,79.777 131.634,78.635  ', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216')
    polyline#bascin-robins(clip-rule='evenodd', fill='#E568A6', fill-rule='evenodd', points='138.308,79.143 138.308,81.809 139.429,82.908    141.503,82.908 142.625,81.809 142.625,79.143 141.503,78.042 139.429,78.042 138.308,79.143  ')
    polygon(fill='none', points='138.308,79.143 138.308,81.809    139.429,82.908 141.503,82.908 142.625,81.809 142.625,79.143 141.503,78.042 139.429,78.042  ', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216')
    polyline(clip-rule='evenodd', fill='#FFFFFF', fill-rule='evenodd', points='141.503,82.908 138.773,82.908 138.773,84.622    142.308,84.622 142.308,82.908 141.503,82.908  ')
    polygon(fill='none', points='141.503,82.908 138.773,82.908    138.773,84.622 142.308,84.622 142.308,82.908  ', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216')
    polyline#pretzel(clip-rule='evenodd', fill='#E568A6', fill-rule='evenodd', points='142.308,84.622 138.201,84.622 138.201,86.993    142.73,86.993 142.73,84.622 142.308,84.622  ')
    polygon(fill='none', points='142.308,84.622 138.201,84.622    138.201,86.993 142.73,86.993 142.73,84.622  ', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216')
    rect(clip-rule='evenodd', fill='#FFFFFF', fill-rule='evenodd', height='1.312', width='3.385', x='138.773', y='86.993')
    rect(fill='none', height='1.312', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216', width='3.385', x='138.773', y='86.993')
    rect(clip-rule='evenodd', fill='#FFFFFF', fill-rule='evenodd', height='4.897', width='1.819', x='126.507', y='43.456')
    rect(fill='none', height='4.897', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216', width='1.819', x='126.507', y='43.456')
    rect(clip-rule='evenodd', fill='#FFFFFF', fill-rule='evenodd', height='1.947', width='6.228', x='94.288', y='81.575')
    rect(fill='none', height='1.947', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216', width='6.228', x='94.288', y='81.575')
    path(clip-rule='evenodd', d='M103.325,83.417c2.271,0,4.542,0,6.813,0v-1.819h-6.813V83.417', fill='#FFFFFF', fill-rule='evenodd')
    path(d='M103.325,83.417c2.271,0,4.542,0,6.813,0   v-1.819h-6.813V83.417z', fill='none', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216')
    polyline(clip-rule='evenodd', fill='#FFFFFF', fill-rule='evenodd', points='125.294,81.217 125.294,83.407 132.756,83.407    132.756,81.217 125.294,81.217  ')
    rect(fill='none', height='2.19', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216', width='7.462', x='125.294', y='81.217')
    polyline(clip-rule='evenodd', fill='#EE372E', fill-rule='evenodd', points='135.695,89.058 138.166,90.457 133.224,90.457    135.695,89.058  ')
    rect(clip-rule='evenodd', fill='#EE372E', fill-rule='evenodd', height='0.465', width='4.942', x='133.224', y='90.644')
    polyline(clip-rule='evenodd', fill='#EE372E', fill-rule='evenodd', points='149.619,77.348 148.22,74.877 148.22,79.819    149.619,77.348  ')
    rect(clip-rule='evenodd', fill='#EE372E', fill-rule='evenodd', height='4.942', width='0.466', x='147.567', y='74.877')
    polyline(clip-rule='evenodd', fill='#EE372E', fill-rule='evenodd', points='149.619,62.016 148.22,59.543 148.22,64.485    149.619,62.016  ')
    rect(clip-rule='evenodd', fill='#EE372E', fill-rule='evenodd', height='4.943', width='0.466', x='147.567', y='59.543')
    rect(clip-rule='evenodd', fill='#FFFFFF', fill-rule='evenodd', height='1.569', width='3.851', x='149.589', y='82.716')
    rect(fill='none', height='1.569', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216', width='3.851', x='149.589', y='82.716')
    path(clip-rule='evenodd', d='M145.396,36.023v-1.843h-5.227v-6.252h10.537   c0,2.705,0.001,5.41,0.001,8.113h-5.312V36.023', fill='#B0B0B1', fill-rule='evenodd')
    path(d='M145.396,36.023v-1.843h-5.227v-6.252   h10.537c0,2.705,0.001,5.41,0.001,8.113h-5.312V36.023z', fill='none', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216')
    rect(clip-rule='evenodd', fill='#D0D2D3', fill-rule='evenodd', height='6.061', width='9.324', x='74.192', y='21.868')
    rect(fill='none', height='6.061', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216', width='9.324', x='74.192', y='21.868')
    rect(fill='#8E1176', height='5.066', width='5.066', x='74.192', y='22.862')
    line(fill='none', stroke='#FFFFFF', stroke-miterlimit='22.9256', stroke-width='0.216', x1='76.58', x2='75.797', y1='24.34', y2='25.123')
    polyline(fill='none', points='76.581,24.805 76.581,24.34    76.118,24.34  ', stroke='#FFFFFF', stroke-miterlimit='22.9256', stroke-width='0.216')
    polyline(fill='none', points='75.797,24.658 75.797,25.123    76.262,25.123  ', stroke='#FFFFFF', stroke-miterlimit='22.9256', stroke-width='0.216')
    polyline(fill='none', points='75.183,26.806 75.862,26.806    75.862,26.207 76.46,26.207 76.46,25.609 77.059,25.609 77.059,25.012 77.656,25.012 77.656,24.413 78.254,24.413  ', stroke='#FFFFFF', stroke-miterlimit='22.9256', stroke-width='0.216')
    polyline(clip-rule='evenodd', fill='#E568A6', fill-rule='evenodd', points='149.589,91.479 161.059,91.479 169.349,82.755    161.087,82.729 161.059,86.993 149.589,86.993 149.589,91.479  ')
    polygon(fill='none', points='149.589,91.479 161.059,91.479    169.349,82.755 161.087,82.729 161.059,86.993 149.589,86.993  ', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216')
    rect(fill='#8E1176', height='5.467', width='5.466', x='75.265', y='207.992')
    line(fill='none', stroke='#FFFFFF', stroke-miterlimit='22.9256', stroke-width='0.216', x1='77.719', x2='76.896', y1='209.681', y2='210.506')
    polyline(fill='none', points='77.719,210.17 77.719,209.681    77.23,209.681  ', stroke='#FFFFFF', stroke-miterlimit='22.9256', stroke-width='0.216')
    polyline(fill='none', points='76.885,210.025 76.885,210.514    77.374,210.514  ', stroke='#FFFFFF', stroke-miterlimit='22.9256', stroke-width='0.216')
    polyline(fill='none', points='76.247,212.277 76.961,212.277    76.961,211.646 77.592,211.646 77.592,211.018 78.221,211.018 78.221,210.387 78.851,210.387 78.851,209.756 79.48,209.756  ', stroke='#FFFFFF', stroke-miterlimit='22.9256', stroke-width='0.216')
    rect(clip-rule='evenodd', fill='#B0B0B1', fill-rule='evenodd', height='9.967', width='9.185', x='75.265', y='198.025')
    rect(fill='none', height='9.967', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216', width='9.185', x='75.265', y='198.025')
    polyline(clip-rule='evenodd', fill='#FFF584', fill-rule='evenodd', points='80.673,294.824 86.222,294.824 86.222,287.971    101.751,287.971 97.468,287.971 97.468,298.834 80.673,298.834 80.673,294.824  ')
    polygon(fill='none', points='80.673,294.824 86.222,294.824    86.222,287.971 101.751,287.971 97.468,287.971 97.468,298.834 80.673,298.834  ', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216')
    text(fill='#231F20', font-family='"ArialMT"', font-size='3.8603', transform='matrix(1 0 0 1 102.5967 298.6621)') OFFICE
    text(fill='#231F20', font-family='"ArialMT"', font-size='3.8603', transform='matrix(1 0 0 1 82.9531 298.1826)') OFFICE
    rect(fill='none', height='11.19', stroke='#231F20', stroke-miterlimit='22.9256', stroke-width='0.216', width='6.22', x='234.078', y='291.188')
    polyline(clip-rule='evenodd', fill='#FFF584', fill-rule='evenodd', points='245.419,287.364 258.736,287.364 258.736,299.495    243.183,299.495 243.183,287.364 245.419,287.364  ')
    polygon(fill='none', points='245.419,287.364 258.736,287.364    258.736,299.495 243.183,299.495 243.183,287.364  ', stroke='#000001', stroke-miterlimit='22.9256', stroke-width='0.216')
    text(fill='#231F20', font-family='"ArialMT"', font-size='2.6469', transform='matrix(1 0 0 1 246.1787 294.3779)') OFFICE
  g
    line(fill='none', stroke='#201E1E', stroke-miterlimit='22.9256', stroke-width='0.216', x1='177.478', x2='191.601', y1='244.253', y2='257.563')
